In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\dai\Downloads\ds\world_population.csv")

In [15]:
df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [16]:
df.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

### null value analysis

In [14]:
#remove missing
df = df.dropna()
print(df.isna().sum().sum())

0

### Outlier analysis

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]

    print("IQR OUTLIER DETECTION")
    print("=" * 30)
    print(f"Q1 (25th percentile): {Q1:.3f}")
    print(f"Q3 (75th percentile): {Q3:.3f}")
    print(f"IQR: {IQR:.3f}")
    print(f"Lower bound: {lower_bound:.3f}")
    print(f"Upper bound: {upper_bound:.3f}")
    print(f"Outliers found: {len(outliers)}")
    print(f"Outlier values: {outliers[column].tolist()}")

    return outliers, lower_bound, upper_bound

In [25]:
# Detect outliers
print("Outliers in Growth Rate: ")
print(detect_outliers_iqr(df[['Growth Rate']], 'Growth Rate'))

Outliers in Growth Rate:
IQR OUTLIER DETECTION
==============================
Q1 (25th percentile): 1.002
Q3 (75th percentile): 1.017
IQR: 0.015
Lower bound: 0.979
Upper bound: 1.040
Outliers found: 3
Outlier values: [1.0691, 1.0404, 0.912]
(     Growth Rate
133       1.0691
164       1.0404
218       0.9120, np.float64(0.9790125000000002), np.float64(1.0397124999999998))

In [26]:
print("Outliers in Density: ")
print(detect_outliers_iqr(df[['Density (per km²)']], 'Density (per km²)'))

Outliers in Density:
IQR OUTLIER DETECTION
==============================
Q1 (25th percentile): 38.418
Q3 (75th percentile): 238.933
IQR: 200.515
Lower bound: -262.355
Upper bound: 539.706
Outliers found: 22
Outlier values: [591.3611, 1924.4876, 1160.035, 654.9651, 1188.5926, 5441.5, 811.5513, 6783.3922, 954.9828, 23172.2667, 1745.9567, 1687.6139, 636.9946, 871.9278, 18234.5, 603.2381, 844.063, 599.8302, 551.8033, 8416.4634, 1299.2647, 660.1662]
(     Density (per km²)
10            591.3611
15           1924.4876
16           1160.0350
17            654.9651
22           1188.5926
76           5441.5000
83            811.5513
89           6783.3922
103           954.9828
119         23172.2667
123          1745.9567
125          1687.6139
129           636.9946
130           871.9278
134         18234.5000
142           603.2381
158           844.0630
176           599.8302
180           551.8033
187          8416.4634
188          1299.2647
203           660.1662, np.float64(-262.3551875), np.float64(539.7063125))

### Mean, median mode, STD

In [22]:
# Get numerical columns
numerical_cols = df.select_dtypes(include=[np.number]).columns
stats = df[numerical_cols].agg(['mean', 'median','std']).round(3)
mode = df[numerical_cols].mode().iloc[0].round(3)
print("modes: ")
print(mode)
print("\n\nother stats: ")
print(stats)

modes:
Rank                             1.000
2022 Population                510.000
2020 Population                520.000
2015 Population                564.000
2010 Population                596.000
2000 Population                651.000
1990 Population                700.000
1980 Population                733.000
1970 Population                752.000
Area (km²)                      21.000
Density (per km²)                0.026
Growth Rate                      1.004
World Population Percentage      0.000
Name: 0, dtype: float64

other stats:

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
median,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977