In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv(r"C:\Users\dai\Downloads\ds\customer.csv")

In [3]:
df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [6]:
#Spending score abel encoding
le = LabelEncoder()
df['Spending_Score'] = le.fit_transform(df['Spending_Score']) #high =0 ,low =2

### Correlation calculation

In [8]:
# correlation calculation
correlation = df['Age'].corr(df['Spending_Score'])
print(f'Correlation between Age and Spending Score: {correlation:.3f}')

Correlation between Age and Spending Score: -0.270

### Chi Square Test

In [24]:
# chi square test
def perform_chi_square_test(df, alpha):
    rejected = False
    contingency_table = pd.crosstab(df['Age'], df['Spending_Score'])

    # Perform chi-square test
    chi2, p_value, dof, expected = chi2_contingency(contingency_table)

    # Decision
    if p_value < alpha:                      #Reject null hypothesis
        rejected = True

    return chi2, p_value, dof,rejected

In [25]:
alpha = 0.05
print("HYPOTHESIS TESTING ON: ")
print("Null Hypothesis(H not): No relationship between Age and spending score")
print("Alt Hypothesis (H alt.): Significant relationship exists")
print(f"Significance level(alpha): {alpha}")
print()
chi2_result, p_val, dof,rejection_status = perform_chi_square_test(df,alpha)

print("----------------------------------------------------------")
print("Test Results: ")
print('Parameters: ')
print(f"Chi-square statistic: {chi2_result:.4f}")
print(f"P-value: {p_val:.4f}")
print(f"Degrees of freedom: {dof}")

print("\nConclusions: ")
if(rejection_status ==True):
    print("Null Hypothesis rejected, thus there is significant relation between age and spending score")

else:
    print("Null Hypothesis not rejected, thus there is no significant relation between age and spending score")

HYPOTHESIS TESTING ON:
Null Hypothesis(H not): No relationship between Age and spending score
Alt Hypothesis (H alt.): Significant relationship exists
Significance level(alpha): 0.05

----------------------------------------------------------
Test Results:
Parameters:
Chi-square statistic: 2503.7984
P-value: 0.0000
Degrees of freedom: 132

Conclusions:
Null Hypothesis rejected, thus there is significant relation between age and spending score