In [25]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
df = pd.read_csv(r"C:\Users\dai\Downloads\ds\customer.csv")

In [6]:
df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [13]:
#encoding
df ['Gender'] = pd.get_dummies(df['Gender'], drop_first=True).astype(int)

le = LabelEncoder()
df['Spending_Score'] = le.fit_transform(df['Spending_Score']) #high =0 ,low =2

In [16]:
# Features for salary prediction
x = df[['Age','Gender']]
y= df['Spending_Score']

# Split data
train_x, test_x, train_y, test_y = train_test_split(
    x,y, test_size=0.2, random_state=42
)

# Train model
lr_model = LinearRegression()
lr_model.fit(train_x, train_y)

# Predictions
pred= lr_model.predict(test_x)

In [17]:
def calculate_regression_metrics(test_y, pred):
    mse = mean_squared_error(test_y, pred)
    r2 = r2_score(test_y, pred)
    return {'mse': mse,'r2': r2}

In [24]:
# Calculate regression metrics
reg_metrics = calculate_regression_metrics(test_y, pred)
print("COEFFICIENTS: ")
print(lr_model.coef_)
print(reg_metrics)
print("\nREGRESSION METRICS:")
print(f"Mean Squared Error(MSE): {reg_metrics['mse']:,.2f}")
print(f"R-squared(R2): {reg_metrics['r2']:.3f}")

COEFFICIENTS:
[-0.01340546 -0.07239955]
{'mse': 0.6767991600857685, 'r2': 0.08098425484980276}

REGRESSION METRICS:
Mean Squared Error(MSE): 0.68
R-squared(R2): 0.081