In [19]:
import pandas as pd
import numpy as np

# 1 Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
print(pd.Series([1,2,3,4],index=['one','two','three','four']))

one      1
two      2
three    3
four     4
dtype: int64

# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [3]:
print(pd.Series([1,2,3,4],index=['one','two','three','four']).tolist())

[1, 2, 3, 4]

# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [8]:
x=pd.Series([2, 4, 6, 8, 10])
y=pd.Series([1,3,5,7,9])
print(x-y)
print(x+y)
print(x*y)
print(x/y)

0    1
1    1
2    1
3    1
4    1
dtype: int64
0     3
1     7
2    11
3    15
4    19
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# 4. Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [13]:
x=pd.Series([2, 4, 6, 8, 10])
y=pd.Series([1, 3, 5, 7, 10])

print(x>=y)
print(x<=y)

0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool

# 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [18]:
d={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s=pd.Series(data=d.values(),index=d.keys())
s

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [21]:
data=np.random.randint(0,100,20)
print(pd.Series(data))

0     59
1      2
2     22
3     92
4     65
5     32
6     15
7     35
8     51
9     24
10    99
11    88
12    59
13    90
14    43
15    32
16    85
17    87
18    31
19    50
dtype: int32

# 7. Write a Pandas program to change the data type of given a column or a Series.

In [27]:
df=pd.DataFrame({'name':['Anurag',"raj","swaraj"],"age":[22,33,55]})
print(df['age'].dtype)
df['age']=df['age'].astype("float64")
print(df['age'].dtype)
df

int64
float64

     name   age
0  Anurag  22.0
1     raj  33.0
2  swaraj  55.0

In [36]:
data=[100,200,'python', 3, 300.12,4,400]
s=pd.Series(data)
s=pd.to_numeric(s,errors='coerce')
s

0    100.00
1    200.00
2       NaN
3      3.00
4    300.12
5      4.00
6    400.00
dtype: float64

# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [42]:
col1=[1 ,2 ,3 ,4 ,7,11]
col2=[4,5,6,9,5,0]
col3=[7,5,8,12,1,11]
df=pd.DataFrame({'col1':col1,'col2':col2,"col3":col3})
s=pd.Series(df['col1'])
print(s)
print(type(s))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

# 9. Write a Pandas program to convert a given Series to an array.

In [46]:
s=pd.Series([100,200,'python',300,12,400])
print(np.array(s,dtype='str'))

['100' '200' 'python' '300' '12' '400']

# 10. Write a Pandas program to convert Series of lists to one Series.

In [73]:
s=pd.Series(data=[['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
# s=s.explode().reset_index().drop('index',axis=1)
x=[x for i in s.values for x in i]
print(pd.Series(x))

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

# 11. Write a Pandas program to sort a given Series.

In [69]:
s=pd.Series([100,200,'python',300,12,400])
s=s.apply(str)
print(s.sort_values())

0       100
4        12
1       200
3       300
5       400
2    python
dtype: object

# 12. Write a Pandas program to add some data to an existing Series.

In [97]:
s=pd.Series([100,200,'python',300.12,400])
s=s._append(pd.Series([500,'php'])).reset_index().drop('index',axis=1)
s

        0
0     100
1     200
2  python
3  300.12
4     400
5     500
6     php

# 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [105]:
s=pd.Series([x for x in range(0,11)])
s=s[:6]
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

# 14. Write a Pandas program to change the order of index of a given series.

In [119]:
s=pd.Series([x for x in range(1,6)],index='A B C D E'.split())
s=s.reindex(['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64