In [3]:
import pandas as pd
import numpy as np

# 1 Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
print(pd.Series([1,2,3,4],index=['one','two','three','four']))

one      1
two      2
three    3
four     4
dtype: int64

# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [3]:
print(pd.Series([1,2,3,4],index=['one','two','three','four']).tolist())

[1, 2, 3, 4]

# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [8]:
x=pd.Series([2, 4, 6, 8, 10])
y=pd.Series([1,3,5,7,9])
print(x-y)
print(x+y)
print(x*y)
print(x/y)

0    1
1    1
2    1
3    1
4    1
dtype: int64
0     3
1     7
2    11
3    15
4    19
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# 4. Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [13]:
x=pd.Series([2, 4, 6, 8, 10])
y=pd.Series([1, 3, 5, 7, 10])

print(x>=y)
print(x<=y)

0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool

# 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [18]:
d={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s=pd.Series(data=d.values(),index=d.keys())
s

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [21]:
data=np.random.randint(0,100,20)
print(pd.Series(data))

0     59
1      2
2     22
3     92
4     65
5     32
6     15
7     35
8     51
9     24
10    99
11    88
12    59
13    90
14    43
15    32
16    85
17    87
18    31
19    50
dtype: int32

# 7. Write a Pandas program to change the data type of given a column or a Series.

In [27]:
df=pd.DataFrame({'name':['Anurag',"raj","swaraj"],"age":[22,33,55]})
print(df['age'].dtype)
df['age']=df['age'].astype("float64")
print(df['age'].dtype)
df

int64
float64

     name   age
0  Anurag  22.0
1     raj  33.0
2  swaraj  55.0

In [36]:
data=[100,200,'python', 3, 300.12,4,400]
s=pd.Series(data)
s=pd.to_numeric(s,errors='coerce')
s

0    100.00
1    200.00
2       NaN
3      3.00
4    300.12
5      4.00
6    400.00
dtype: float64

# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [42]:
col1=[1 ,2 ,3 ,4 ,7,11]
col2=[4,5,6,9,5,0]
col3=[7,5,8,12,1,11]
df=pd.DataFrame({'col1':col1,'col2':col2,"col3":col3})
s=pd.Series(df['col1'])
print(s)
print(type(s))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

# 9. Write a Pandas program to convert a given Series to an array.

In [46]:
s=pd.Series([100,200,'python',300,12,400])
print(np.array(s,dtype='str'))

['100' '200' 'python' '300' '12' '400']

# 10. Write a Pandas program to convert Series of lists to one Series.

In [73]:
s=pd.Series(data=[['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
# s=s.explode().reset_index().drop('index',axis=1)
x=[x for i in s.values for x in i]
print(pd.Series(x))

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

# 11. Write a Pandas program to sort a given Series.

In [69]:
s=pd.Series([100,200,'python',300,12,400])
s=s.apply(str)
print(s.sort_values())

0       100
4        12
1       200
3       300
5       400
2    python
dtype: object

# 12. Write a Pandas program to add some data to an existing Series.

In [97]:
s=pd.Series([100,200,'python',300.12,400])
s=s._append(pd.Series([500,'php'])).reset_index().drop('index',axis=1)
s

        0
0     100
1     200
2  python
3  300.12
4     400
5     500
6     php

# 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [105]:
s=pd.Series([x for x in range(0,11)])
s=s[:6]
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

# 14. Write a Pandas program to change the order of index of a given series.

In [119]:
s=pd.Series([x for x in range(1,6)],index='A B C D E'.split())
s=s.reindex(['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [6]:
s=pd.Series([x for x in range(1,6)])
print('mean:',s.mean(),' std:',s.std())

mean: 3.0  std: 1.5811388300841898

## 16. Write a Pandas program to get the items of a given series not present in another given series.

In [7]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
a[~a.isin(b)]

0    1
2    3
4    5
dtype: int64

## 17. Write a Pandas program to get the items which are not common of two given series.

In [20]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
d=a[~a.isin(b)]
e=b[~b.isin(a)]
print(pd.concat([d,e]))

0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

## 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [22]:
a=pd.Series([1,2,3,4,5,5,7,78,9])
x=a.describe()
print('min:',x['min'])
print('25%:',x['25%'])
print("median:",x['50%'])
print("75%:",x['75%'])
print("Min:",x['max'])

min: 1.0
25%: 3.0
median: 5.0
75%: 7.0
Min: 78.0

## 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [26]:
np.random.seed(42)
s=pd.Series(np.random.randint(1,20,40))
s.value_counts()

7     5
12    5
15    4
11    3
2     3
19    3
4     2
8     2
3     2
18    2
9     2
6     1
1     1
17    1
16    1
10    1
5     1
14    1
Name: count, dtype: int64

## 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [40]:
np.random.seed(42)
s = pd.Series(np.random.randint(1, 20, 40))
t=s.value_counts(ascending=False).index[0]
s=s.apply(lambda x:'other'if x!=t else t)
s

0         7
1     other
2     other
3     other
4         7
5     other
6     other
7     other
8     other
9     other
10    other
11    other
12    other
13    other
14    other
15    other
16    other
17    other
18    other
19    other
20    other
21    other
22    other
23    other
24    other
25    other
26    other
27    other
28        7
29    other
30        7
31    other
32    other
33    other
34    other
35    other
36    other
37    other
38        7
39    other
dtype: object

## 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [41]:
s = pd.Series(np.random.randint(1,20,40))
s[s%5==0]

1     15
11    10
16    10
20    15
27    15
30    15
dtype: int32

## 22. Write a Pandas program to extract items at given positions of a given series.

In [48]:
np.random.seed(42)
s=pd.Series(np.random.randint(2,10,20))
t=pd.Series([2,3,4,5])
s=s.reindex(t)
s

2    6
3    8
4    4
5    9
dtype: int32

## 23. Write a Pandas program to get the positions of items of a given series in another given series.

In [49]:
np.random.seed(42)
s=pd.Series(np.random.randint(2,10,20))
t=pd.Series([2,3,4,5])

s[s.isin(t.values)].index

Index([1, 4, 9, 10, 12, 13, 16, 19], dtype='int64')

## 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.m

In [51]:
s=pd.Series(['php','python','java','c#'])
s=s.apply(lambda x : x[0].upper()+x[1:-1]+x[-1].upper())
s

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

## 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [52]:
s=pd.Series(['php','python','java','c#'])
s=s.apply(lambda x : len(x))
s

0    3
1    6
2    4
3    2
dtype: int64

## 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [56]:
s=pd.Series([1,3,5,8,10])
t=s.diff()
u=t.diff()
print(t.to_list())
print(u.to_list())

[nan, 2.0, 2.0, 3.0, 2.0]
[nan, nan, 0.0, 1.0, -1.0]

## 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [59]:
a=pd.Series(["01 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"])
b=pd.to_datetime(a,format="mixed")
b

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

## **28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.**

In [71]:
a=pd.Series(["01 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"])
b=pd.to_datetime(a,format="mixed")
print(b.dt.day.to_list())
print(b.dt.dayofyear.to_list())
print(b.dt.isocalendar().week.to_list())
print(b.dt.day_name().to_list())

[1, 2, 7, 6, 12, 6]
[1, 276, 66, 126, 103, 96]
[1, 39, 10, 19, 15, 14]
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

## 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [12]:
s=pd.Series(['Jan 2015','Feb 2016','Mar 2017','Apr 2018', 'May 2019'])
s=pd.to_datetime(s,format='mixed')
s=s+pd.Timedelta(days=10)
s

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

## 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [18]:
s=pd.Series('Red Green Orange Pink Yellow White'.split())
s=list(filter(lambda x: sum([1 for c in x if x in 'aeiouAEIOU'])>=2,s))
s

[]