# Iterator

In [17]:
def square(it):
    l=[]
    while True:
        try:
            x=next(it)
            l.append(x*x)
        except StopIteration:
            print("")
            break

    return l

In [18]:
l=[x for  x in range(0,10+1)]

i=iter(l)

print(square(i))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Create Dict using the two list

In [51]:
def comb(l,s):
    return (l,s)
d={}
name=["abc","def","ghi",'jkl','mno']
marks=[90,80,70,45,60]
print(dict(map(comb,name,marks)))

{'abc': 90, 'def': 80, 'ghi': 70, 'jkl': 45, 'mno': 60}

In [53]:
print(dict(map(lambda x:(x[0],x[1]),zip(name,marks))))

{'abc': 90, 'def': 80, 'ghi': 70, 'jkl': 45, 'mno': 60}

## Q1 convert to uppercase using listcomp

In [54]:
l="Anurag Vaibhav Riya Aman Denny Spare Alice".split()
print([word.upper() for word in l if word[0].lower()=="a"])

['ANURAG', 'AMAN', 'ALICE']

## Q2 List of even odd using list comp

In [55]:
print({x:"Odd" if x%2!=0 else "even" for x in range(1,10+1)})

{1: 'Odd', 2: 'even', 3: 'Odd', 4: 'even', 5: 'Odd', 6: 'even', 7: 'Odd', 8: 'even', 9: 'Odd', 10: 'even'}

## Q3 dict using the zip

In [66]:
d={x[0]:x[1] for x in zip(name,marks)}

## reversal of key,values

In [67]:
print({y:x for x,y in d.items()})

{90: 'abc', 80: 'def', 70: 'ghi', 45: 'jkl', 60: 'mno'}

In [69]:
def isprime(n):
    for i in range(2,n//2+1):
        if n%i==0:
            return False

    else:
        return True

print([(x,x**2) for x in range(2,100+1) if isprime(x)])

[(2, 4), (3, 9), (5, 25), (7, 49), (11, 121), (13, 169), (17, 289), (19, 361), (23, 529), (29, 841), (31, 961), (37, 1369), (41, 1681), (43, 1849), (47, 2209), (53, 2809), (59, 3481), (61, 3721), (67, 4489), (71, 5041), (73, 5329), (79, 6241), (83, 6889), (89, 7921), (97, 9409)]

In [72]:
s="aa12bb4c3d56"
print([int(c) for c in s if c.isnumeric()])

[1, 2, 4, 3, 5, 6]