In [16]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.metrics import classification_report, f1_score
from sklearn.pipeline import Pipeline

In [3]:
kyph = pd.read_csv("C:/Python/Cases/Kyphosis/Kyphosis.csv")
y = kyph['Kyphosis']
X = kyph.drop('Kyphosis', axis=1)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [8]:
svm = SVC(kernel='linear', C=1)
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)
print( classification_report(y_test, y_pred) )
print(f1_score(y_test, y_pred, pos_label='present'))

              precision    recall  f1-score   support

      absent       0.87      1.00      0.93        20
     present       1.00      0.40      0.57         5

    accuracy                           0.88        25
   macro avg       0.93      0.70      0.75        25
weighted avg       0.90      0.88      0.86        25

0.5714285714285714

In [13]:
Cs = np.linspace(0.001, 5, 20) 
scores = []
for c in Cs:
    svm = SVC(kernel='linear', C=c)
    svm.fit(X_train, y_train)
    y_pred = svm.predict(X_test)
    scores.append([c, f1_score(y_test, y_pred, pos_label='present')] )

df_scores = pd.DataFrame( scores, columns=['C', 'score'] )
df_scores.sort_values( 'score', ascending=False )

           C     score
10  2.632053  0.571429
1   0.264105  0.571429
18  4.736895  0.571429
17  4.473789  0.571429
16  4.210684  0.571429
15  3.947579  0.571429
14  3.684474  0.571429
13  3.421368  0.571429
12  3.158263  0.571429
11  2.895158  0.571429
19  5.000000  0.571429
9   2.368947  0.571429
8   2.105842  0.571429
7   1.842737  0.571429
6   1.579632  0.571429
5   1.316526  0.571429
4   1.053421  0.571429
3   0.790316  0.571429
2   0.527211  0.571429
0   0.001000  0.000000

In [15]:
scaler = StandardScaler()
Cs = np.linspace(0.001, 5, 20) 
scores = []
for c in Cs:
    svm = SVC(kernel='linear', C=c)
    pipe = Pipeline([('SCL',scaler),('SVM',svm)])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append([c, f1_score(y_test, y_pred, pos_label='present')] )

df_scores = pd.DataFrame( scores, columns=['C', 'score'] )
df_scores.sort_values( 'score', ascending=False )

           C     score
10  2.632053  0.571429
11  2.895158  0.571429
18  4.736895  0.571429
17  4.473789  0.571429
16  4.210684  0.571429
15  3.947579  0.571429
14  3.684474  0.571429
13  3.421368  0.571429
12  3.158263  0.571429
19  5.000000  0.571429
9   2.368947  0.571429
8   2.105842  0.571429
7   1.842737  0.571429
6   1.579632  0.571429
5   1.316526  0.571429
4   1.053421  0.571429
3   0.790316  0.571429
2   0.527211  0.571429
1   0.264105  0.000000
0   0.001000  0.000000

In [18]:
scaler = MinMaxScaler()
Cs = np.linspace(0.001, 5, 20) 
scores = []
for c in Cs:
    svm = SVC(kernel='linear', C=c)
    pipe = Pipeline([('SCL',scaler),('SVM',svm)])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append([c, f1_score(y_test, y_pred, pos_label='present')] )

df_scores = pd.DataFrame( scores, columns=['C', 'score'] )
df_scores.sort_values( 'score', ascending=False )

           C  score
0   0.001000    0.0
1   0.264105    0.0
18  4.736895    0.0
17  4.473789    0.0
16  4.210684    0.0
15  3.947579    0.0
14  3.684474    0.0
13  3.421368    0.0
12  3.158263    0.0
11  2.895158    0.0
10  2.632053    0.0
9   2.368947    0.0
8   2.105842    0.0
7   1.842737    0.0
6   1.579632    0.0
5   1.316526    0.0
4   1.053421    0.0
3   0.790316    0.0
2   0.527211    0.0
19  5.000000    0.0

### Breast Cancer

In [20]:
bcancer = pd.read_csv("C:/Python/Cases/Wisconsin/BreastCancer.csv", index_col=0)
X = bcancer.drop('Class', axis=1)
y = bcancer['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [24]:
Cs = np.linspace(0.001, 5, 50) 
scores = []
for c in Cs:
    svm = SVC(kernel='linear', C=c)
    svm.fit(X_train, y_train)
    y_pred = svm.predict(X_test)
    scores.append([c, f1_score(y_test, y_pred, pos_label='Malignant')] )

df_scores = pd.DataFrame( scores, columns=['C', 'score'] )
df_scores.sort_values( 'score', ascending=False )

           C     score
25  2.551510  0.957746
26  2.653531  0.957746
28  2.857571  0.957746
29  2.959592  0.957746
30  3.061612  0.957746
31  3.163633  0.957746
32  3.265653  0.957746
33  3.367673  0.957746
34  3.469694  0.957746
35  3.571714  0.957746
36  3.673735  0.957746
37  3.775755  0.957746
38  3.877776  0.957746
39  3.979796  0.957746
40  4.081816  0.957746
41  4.183837  0.957746
42  4.285857  0.957746
43  4.387878  0.957746
44  4.489898  0.957746
45  4.591918  0.957746
46  4.693939  0.957746
47  4.795959  0.957746
48  4.897980  0.957746
27  2.755551  0.957746
49  5.000000  0.957746
13  1.327265  0.957746
24  2.449490  0.957746
4   0.409082  0.957746
5   0.511102  0.957746
6   0.613122  0.957746
7   0.715143  0.957746
8   0.817163  0.957746
9   0.919184  0.957746
10  1.021204  0.957746
11  1.123224  0.957746
12  1.225245  0.957746
14  1.429286  0.957746
2   0.205041  0.957746
15  1.531306  0.957746
16  1.633327  0.957746
17  1.735347  0.957746
18  1.837367  0.957746
19  1.939388  0.957746
20  2.041408  0.957746
21  2.143429  0.957746
22  2.245449  0.957746
23  2.347469  0.957746
3   0.307061  0.957746
1   0.103020  0.950355
0   0.001000  0.949640

In [25]:
scaler = StandardScaler()
Cs = np.linspace(0.001, 5, 20) 
scores = []
for c in Cs:
    svm = SVC(kernel='linear', C=c)
    pipe = Pipeline([('SCL',scaler),('SVM',svm)])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append([c, f1_score(y_test, y_pred, pos_label='Malignant')] )

df_scores = pd.DataFrame( scores, columns=['C', 'score'] )
df_scores.sort_values( 'score', ascending=False )

           C     score
10  2.632053  0.957746
11  2.895158  0.957746
18  4.736895  0.957746
17  4.473789  0.957746
16  4.210684  0.957746
15  3.947579  0.957746
14  3.684474  0.957746
13  3.421368  0.957746
12  3.158263  0.957746
19  5.000000  0.957746
9   2.368947  0.957746
8   2.105842  0.957746
7   1.842737  0.957746
6   1.579632  0.957746
5   1.316526  0.957746
4   1.053421  0.957746
1   0.264105  0.957143
2   0.527211  0.957143
3   0.790316  0.950355
0   0.001000  0.918519

### Radial Basis Function / Radial Kernel

In [30]:
svm = SVC(kernel='rbf', C=1, gamma=0.5)
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)
print( classification_report(y_test, y_pred) )

              precision    recall  f1-score   support

      Benign       1.00      0.88      0.93       138
   Malignant       0.81      1.00      0.89        72

    accuracy                           0.92       210
   macro avg       0.90      0.94      0.91       210
weighted avg       0.93      0.92      0.92       210

In [31]:
Cs = np.linspace(0.001, 5, 20) 
Gs = np.linspace(0.001, 5, 20) 
scores = []
for c in Cs:
    for g in Gs:
        svm = SVC(kernel='rbf', C=c, gamma=g)
        svm.fit(X_train, y_train)
        y_pred = svm.predict(X_test)
        scores.append([c, g, f1_score(y_test, y_pred, pos_label='Malignant')] )
df_scores = pd.DataFrame(scores, columns=['C', 'gamma', 'score'])
df_scores.sort_values('score', ascending=False)

            C     gamma     score
200  2.632053  0.001000  0.957143
140  1.842737  0.001000  0.957143
40   0.527211  0.001000  0.957143
360  4.736895  0.001000  0.957143
340  4.473789  0.001000  0.957143
..        ...       ...       ...
29   0.264105  2.368947  0.000000
28   0.264105  2.105842  0.000000
27   0.264105  1.842737  0.000000
26   0.264105  1.579632  0.000000
0    0.001000  0.001000  0.000000

[400 rows x 3 columns]

### Polynomial Kernel

In [33]:
svm = SVC(kernel='poly', C=1, degree=4)
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)
print( classification_report(y_test, y_pred) )

              precision    recall  f1-score   support

      Benign       0.93      0.99      0.96       138
   Malignant       0.98      0.85      0.91        72

    accuracy                           0.94       210
   macro avg       0.95      0.92      0.93       210
weighted avg       0.95      0.94      0.94       210