In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [8]:
glass = pd.read_csv("C:/Python/Cases/Glass_Identification/Glass.csv")
y = glass['Type']
X = glass.drop('Type', axis=1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [10]:
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
0   1  0.753846
1   2  0.753846
2   3  0.723077
3   4  0.723077
4   5  0.723077
5   6  0.723077
7   8  0.707692
6   7  0.692308
8   9  0.692308
9  10  0.676923

In [11]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
1   2  0.815385
0   1  0.800000
2   3  0.753846
3   4  0.738462
5   6  0.692308
6   7  0.692308
4   5  0.676923
7   8  0.661538
8   9  0.661538
9  10  0.646154

In [12]:
scaler = MinMaxScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
3   4  0.769231
0   1  0.753846
1   2  0.723077
5   6  0.707692
4   5  0.692308
2   3  0.676923
6   7  0.646154
7   8  0.646154
8   9  0.630769
9  10  0.600000

In [14]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_trn_scl, y_train)
y_pred = knn.predict(X_tst_scl)
print(classification_report( y_test, y_pred ))

                                      precision    recall  f1-score   support

    building_windows_float_processed       0.75      1.00      0.86        21
building_windows_non_float_processed       0.83      0.87      0.85        23
                          containers       1.00      1.00      1.00         4
                           headlamps       0.88      0.78      0.82         9
                           tableware       1.00      0.33      0.50         3
     vehicle_windows_float_processed       0.00      0.00      0.00         5

                            accuracy                           0.82        65
                           macro avg       0.74      0.66      0.67        65
                        weighted avg       0.77      0.82      0.78        65

c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

In [15]:
y_test.value_counts()

Type
building_windows_non_float_processed    23
building_windows_float_processed        21
headlamps                                9
vehicle_windows_float_processed          5
containers                               4
tableware                                3
Name: count, dtype: int64

#### Vehicle Silhouettes

In [16]:
vehicle = pd.read_csv("C:/Python/Cases/Vehicle_Silhouettes/Vehicle.csv")
y = vehicle['Class']
X = vehicle.drop('Class', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [17]:
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
2   3  0.653543
6   7  0.653543
3   4  0.649606
0   1  0.641732
4   5  0.641732
7   8  0.641732
5   6  0.637795
9  10  0.637795
8   9  0.629921
1   2  0.622047

In [18]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
2   3  0.728346
3   4  0.716535
9  10  0.708661
6   7  0.700787
4   5  0.696850
7   8  0.696850
5   6  0.692913
8   9  0.688976
0   1  0.653543
1   2  0.645669

In [19]:
scaler = MinMaxScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
3   4  0.704724
5   6  0.700787
6   7  0.700787
4   5  0.696850
2   3  0.685039
9  10  0.685039
0   1  0.677165
7   8  0.677165
8   9  0.677165
1   2  0.661417

In [20]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_trn_scl, y_train)
y_pred = knn.predict(X_tst_scl)
print( classification_report( y_test, y_pred ) )

              precision    recall  f1-score   support

         bus       0.90      0.97      0.93        65
        opel       0.55      0.52      0.53        64
        saab       0.60      0.58      0.59        65
         van       0.84      0.85      0.84        60

    accuracy                           0.73       254
   macro avg       0.72      0.73      0.73       254
weighted avg       0.72      0.73      0.72       254

In [22]:
solver = 'saga'
penalties = ['l2','l1','elasticnet',None]
scores = []
for p in penalties:
    lr = LogisticRegression(solver=solver, penalty=p, l1_ratio=0.5)
    lr.fit(X_train, y_train)
    y_pred = lr.predict(X_test)
    scores.append([p, accuracy_score(y_test, y_pred)])
df_scores = pd.DataFrame( scores, columns=['penalty','score'] )
df_scores.sort_values('score', ascending=False)

c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:1221: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l2)
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:1221: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l1)
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:1221: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=None)
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

      penalty     score
2  elasticnet  0.685039
3        None  0.685039
0          l2  0.681102
1          l1  0.681102

In [23]:
solver = ['sag','newton-cg','newton-cholesky','lbfgs']
penalties = ['l2',None]
scores = []
for p in penalties:
    for s in solver:
        lr = LogisticRegression(solver=s, penalty=p)
        lr.fit(X_train, y_train)
        y_pred = lr.predict(X_test)
        scores.append([p,s, accuracy_score(y_test, y_pred)])
df_scores = pd.DataFrame( scores, columns=['penalty','solver','score'] )
df_scores.sort_values('score', ascending=False)

c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

  penalty           solver     score
1      l2        newton-cg  0.846457
2      l2  newton-cholesky  0.846457
5    None        newton-cg  0.842520
6    None  newton-cholesky  0.842520
3      l2            lbfgs  0.740157
0      l2              sag  0.724409
4    None              sag  0.724409
7    None            lbfgs  0.724409

In [25]:
lr = LogisticRegression(solver='newton-cg', penalty='l2')
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print( classification_report(y_test, y_pred) )

              precision    recall  f1-score   support

         bus       0.94      0.97      0.95        65
        opel       0.78      0.66      0.71        64
        saab       0.72      0.80      0.76        65
         van       0.95      0.97      0.96        60

    accuracy                           0.85       254
   macro avg       0.85      0.85      0.85       254
weighted avg       0.85      0.85      0.84       254