In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt

In [2]:
wisconsin = pd.read_csv("C:/Python/Cases/Wisconsin/BreastCancer.csv", index_col=0)
X = wisconsin.drop('Class', axis=1)
y = wisconsin['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [3]:
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
4   5  0.976190
2   3  0.971429
3   4  0.961905
6   7  0.961905
7   8  0.961905
8   9  0.961905
9  10  0.961905
0   1  0.957143
5   6  0.952381
1   2  0.933333

#### Human Resource Analytics

In [4]:
hr = pd.read_csv("C:/Python/Cases/human-resources-analytics/HR_comma_sep.csv")
dum_hr = pd.get_dummies(hr, drop_first=True)
X = dum_hr.drop('left', axis=1)
y = dum_hr['left']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [5]:
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
0   1  0.951100
1   2  0.946655
5   6  0.942654
7   8  0.942209
3   4  0.941543
9  10  0.941320
8   9  0.939542
6   7  0.937986
2   3  0.937542
4   5  0.937319

In [6]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_trn_scl, y_train)
y_pred = knn.predict(X_tst_scl)
accuracy_score( y_test, y_pred )

0.9666592576128028

In [7]:
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
0   1  0.966659
1   2  0.963325
2   3  0.950656
3   4  0.948433
5   6  0.946210
7   8  0.944210
6   7  0.942209
9  10  0.941543
8   9  0.940876
4   5  0.940209

Min Max Scaler

In [8]:
scaler = MinMaxScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
0   1  0.966215
1   2  0.962658
2   3  0.951100
3   4  0.945543
5   6  0.943321
7   8  0.942432
6   7  0.940209
9  10  0.939987
4   5  0.939764
8   9  0.938875

In [11]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_trn_scl, y_train)
y_pred = knn.predict(X_tst_scl)
print(classification_report( y_test, y_pred ))

              precision    recall  f1-score   support

           0       0.99      0.97      0.98      3429
           1       0.90      0.96      0.93      1070

    accuracy                           0.97      4499
   macro avg       0.95      0.96      0.95      4499
weighted avg       0.97      0.97      0.97      4499

In [12]:
y_test.value_counts()

left
0    3429
1    1070
Name: count, dtype: int64