Usage with Supervised Learning

In [1]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [5]:
kyph = pd.read_csv("C:/Python/Cases/Kyphosis/Kyphosis.csv")
y = kyph['Kyphosis']
X = kyph.drop('Kyphosis', axis=1)
train, test, = train_test_split(kyph, test_size=0.3, random_state=25,
                                                    stratify=y)
y_train = train['Kyphosis']
X_train = train.drop('Kyphosis', axis=1)
y_test = test['Kyphosis']
X_test = test.drop('Kyphosis', axis=1)

In [ ]:
scaler = StandardScaler().set_output(transform='pandas')
X_trn_scaled = scaler.fit_transform(X_train)
scores = []
for i in range(2, 11):
    clust = KMeans(random_state=25, n_clusters=i)
    clust.fit(X_trn_scaled)
    scores.append([i, silhouette_score(X_trn_scaled, clust.labels_)] )
df_score = pd.DataFrame( scores, columns=['clusters','score'] )
df_score.sort_values('score', ascending=False)

In [8]:
clust = KMeans(random_state=25, n_clusters=4)
clust.fit(X_trn_scaled)
train['cluster'] = clust.labels_
train

   Kyphosis  Age  Number  Start  cluster
63   absent  118       3     16        3
45  present  139       3     10        3
66   absent  195       2     17        3
75   absent  178       4     15        3
60  present  130       4      1        1
25   absent    9       5     13        2
21  present  105       6      5        0
17   absent  175       5     13        3
58   absent   51       7      9        0
0    absent   71       3      5        1
48  present  121       3      3        1
28   absent    4       3     16        2
33   absent  112       3     16        3
3    absent    2       5      1        1
52  present  139      10      6        0
7    absent   37       3     16        2
64   absent  118       4     16        3
10  present   82       5     14        3
79  present   42       7      6        0
23   absent  131       2      3        1
59   absent  102       3     13        3
72   absent   87       4     16        3
19   absent   27       4      9        2
12   absent   18       5      2        1
41   absent   35       3     13        2
14   absent  168       3     18        3
37  present   52       5      6        1
51   absent    9       2     17        2
35   absent   93       3     16        3
15   absent    1       3     16        2
71   absent  127       4     12        3
24  present   15       7      2        0
55   absent   72       5     15        3
13   absent    1       4     12        2
68   absent   18       4     11        2
67   absent  159       4     13        3
2   present  128       4      5        1
74   absent   11       3     15        2
42   absent  143       9      3        0
70   absent  158       5     14        3
20   absent   22       2     16        2
49   absent  177       2     14        3
44   absent   97       3     16        3
16   absent   78       6     15        3
27   absent  100       3     14        3
36   absent    1       3      9        2
22  present   96       3     12        3
9   present   59       6     12        0
77   absent   26       7     13        0
46   absent  136       4     15        3
47   absent  131       5     13        3
53   absent    2       2     17        2
54   absent  140       4     15        3
73   absent  206       4     10        3
8    absent  113       2     16        3
43   absent   61       4      1        1

For every clusters on train set, try fitting different models and find the best for each cluster.

In [10]:
X_tst_scl = scaler.transform( X_test )
clust.predict(X_tst_scl)

array([0, 2, 2, 3, 3, 1, 1, 3, 3, 3, 2, 2, 2, 2, 1, 0, 3, 0, 2, 3, 3, 3,
       2, 1, 3])

For every test set observation, classify it in either of the cluster with `.predict()` function and then apply the corresponding best model of that cluster to it.

In [14]:
train[clust.labels_==1]

   Kyphosis  Age  Number  Start  cluster
60  present  130       4      1        1
0    absent   71       3      5        1
48  present  121       3      3        1
3    absent    2       5      1        1
23   absent  131       2      3        1
12   absent   18       5      2        1
37  present   52       5      6        1
2   present  128       4      5        1
43   absent   61       4      1        1

In [12]:
X_train

    Age  Number  Start
63  118       3     16
45  139       3     10
66  195       2     17
75  178       4     15
60  130       4      1
25    9       5     13
21  105       6      5
17  175       5     13
58   51       7      9
0    71       3      5
48  121       3      3
28    4       3     16
33  112       3     16
3     2       5      1
52  139      10      6
7    37       3     16
64  118       4     16
10   82       5     14
79   42       7      6
23  131       2      3
59  102       3     13
72   87       4     16
19   27       4      9
12   18       5      2
41   35       3     13
14  168       3     18
37   52       5      6
51    9       2     17
35   93       3     16
15    1       3     16
71  127       4     12
24   15       7      2
55   72       5     15
13    1       4     12
68   18       4     11
67  159       4     13
2   128       4      5
74   11       3     15
42  143       9      3
70  158       5     14
20   22       2     16
49  177       2     14
44   97       3     16
16   78       6     15
27  100       3     14
36    1       3      9
22   96       3     12
9    59       6     12
77   26       7     13
46  136       4     15
47  131       5     13
53    2       2     17
54  140       4     15
73  206       4     10
8   113       2     16
43   61       4      1