In [2]:
from operator import indexOf
from tarfile import data_filter

import numpy as np
import pandas as pd
from numpy.ma.extras import column_stack

In [3]:
data=np.random.randint(10,100,(4,3))
index=['virat','dhoni','panda','champ']
columns=['m1','m2','m3']

df=pd.DataFrame(data=data,index=index,columns=columns)
df

       m1  m2  m3
virat  60  31  30
dhoni  28  25  89
panda  18  44  21
champ  73  29  36

In [8]:
df.loc[['virat','dhoni'],['m1','m3']]

       m1  m3
virat  60  30
dhoni  28  89

In [13]:
df.iloc[:2,:2]

       m1  m2
virat  60  31
dhoni  28  25

In [14]:
df.iloc[:2,:]

       m1  m2  m3
virat  60  31  30
dhoni  28  25  89

In [21]:
student=np.array([('anurag',45,56),('achintya',34,22)],dtype=[('name','U10'),('marks','i4'),('age','i4')])
student['name']

array(['anurag', 'achintya'], dtype='<U10')