In [6]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [7]:
fp_df=pd.read_csv(r"D:\Datasets\Faceplate.csv",index_col=0)
fp_df.head()

             Red  White  Blue  Orange  Green  Yellow
Transaction
1              1      1     0       0      1       0
2              0      1     0       1      0       0
3              0      1     1       0      0       0
4              1      1     0       1      0       0
5              1      0     1       0      0       0

In [10]:
fp_df=fp_df.astype(bool)
itemsets=apriori(fp_df,min_support=0.2,use_colnames=True)
itemsets

    support             itemsets
0       0.6                (Red)
1       0.7              (White)
2       0.6               (Blue)
3       0.2             (Orange)
4       0.2              (Green)
5       0.4         (White, Red)
6       0.4          (Red, Blue)
7       0.2         (Red, Green)
8       0.4        (White, Blue)
9       0.2      (Orange, White)
10      0.2       (White, Green)
11      0.2   (White, Red, Blue)
12      0.2  (White, Red, Green)