In [3]:
import pandas as pd
import numpy as np

In [4]:
df_2015 = pd.read_csv('C:\\Users\\dai\\Downloads\\marathon_results_2015.csv')
df_2016 = pd.read_csv('C:\\Users\\dai\\Downloads\\marathon_results_2016.csv')
df_2017 = pd.read_csv('C:\\Users\\dai\\Downloads\\marathon_results_2017.csv')

In [5]:
df = pd.concat([df_2015,df_2016,df_2017])
original_row_count = len(df)

### simple

In [9]:
#simple
sample_df = df.sample(frac=0.1,random_state = 42)

### systematic

In [10]:
#systematic
sample_df =df.iloc[::7,:]

### startified

In [14]:
#stratified
total_males = len(df[df['M/F']=='M'])
total_females = len(df[df['M/F'] == 'F'])

In [15]:
sample_size = int(0.1 * original_row_count)
sample_males = int(0.1 * total_males)
sample_females = int(0.1*total_females)
print(sample_size,sample_males,sample_females)

7963 4348 3615

In [ ]:
male_sample = df[df['M/F']=='M'].sample(n = sample_males,random_state = 42)
female_sample = df[df['M/F'] == 'F'].sample(n=sample_females,random_state = 42)

In [ ]:
sample_df = pd.concat([male_sample,female_sample])

### cluster

In [22]:
unique_countries = df['Country'].unique()
num_countries = len(unique_countries)

In [23]:
len(unique_countries)

105

In [24]:
np.random.seed(42)

In [25]:
selected_countries = np.random.choice(unique_countries,size = num_countries //2, replace = False)
selected_countries

array(['COL', 'JAM', 'EST', 'IND', 'PAN', 'SMR', 'NGR', 'LUX', 'NZL',
       'ETH', 'SWE', 'SUI', 'BDI', 'ALG', 'UGA', 'RSA', 'TWN', 'AUT',
       'AUS', 'CHI', 'GRN', 'ARG', 'DEN', 'PHI', 'SIN', 'BAH', 'ECU',
       'TPE', 'KOR', 'BEL', 'ALB', 'BLR', 'MGL', 'QAT', 'FIN', 'ZIM',
       'ITA', 'URU', 'ESA', 'NOR', 'FRA', 'GER', 'UAE', 'NED', 'JPN',
       'PER', 'TUR', 'LAT', 'GUA', 'BRA', 'JOR', 'ISL'], dtype=object)

In [26]:
sample_df = df[df['Country'].isin(selected_countries)]
sample_row_count = len(sample_df)

In [ ]:
df.head()
sample_df.head()

### common

In [11]:
sample_row_count = len(sample_df)
df.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN

In [12]:
original_row_count,sample_row_count

(79638, 11377)