In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#### 1.  Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module
pd.array([1,2,3,3,40]).tolist()

In [ ]:
#### 2.  Write a Pandas program to convert a Panda module Series to Python list and it's type
arr = pd.Series([1,2,3,3,4,4,5,5]).tolist()
type(arr)

In [ ]:
#### 3.  Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
arr = pd.Series([2, 4, 6, 8, 10])
arr2 = pd.Series([1, 3, 5, 7, 10])
(arr + arr2).tolist(),(arr - arr2).tolist(),(arr * arr2).tolist(),(arr/arr2).tolist()

In [ ]:
#### 4.  Write a Pandas program to compare the elements of the two Pandas Series.
####     Sample Series: \[2, 4, 6, 8, 10\], \[1, 3, 5, 7, 10\]
arr = pd.Series([2, 4, 6, 8, 10])
arr2 = pd.Series([1, 3, 5, 7, 10])
(arr-arr2).tolist() #comparative analysis

In [ ]:
#### 5.  Write a Pandas program to convert a dictionary to a Pandas series.
####     Sample Series:
####     Original dictionary:
d ={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(d.values(),index= d.keys())

In [ ]:
#### 6.  Write a Pandas program to convert a NumPy array to a Pandas series
arr = np.array([10, 20, 30, 40, 50])
pd.Series(arr)

In [ ]:
#### 7.  Write a Pandas program to change the data type of given a column or a Series.
arr = pd.Series([100,200,'python',300.12,400])
arr2 = pd.to_numeric(arr,errors ='coerce')
arr3 = arr.astype('str')
arr2,arr3

In [ ]:
#### 8.  Write a Pandas program to convert the first column of a DataFrame as a Series.
####     Sample Output:
####     Original DataFrame
####     coll col2 col3
####     0 1 4 7
####     1 2 5 5
####     2 3 6 8
####     3 4 9 12
####     4 7 5 1
####     5 11 0 11
df = pd.DataFrame([[0, 1, 4, 7],[1, 2, 5, 5],[2, 3, 6, 8]])
sr = pd.Series(df[0])
sr

In [ ]:
#### 9.  Write a Pandas program to convert a given Series to an array.
####     Sample Output:
####     Original Data Series:
####     0 100
####     1 200
####     2 python
####     3 300.12
####     4 400
####     dtype: object
sr = pd.Series([100,200,'python',300.12,400])
arr = sr.values
arr.tolist()

In [ ]:
#### 10. Write a Pandas program to convert Series of lists to one Series
sr = pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
np.concatenate(sr)

In [ ]:
#### 11. Write a Pandas program to sort a given Series.
# sr = pd.Series([100,200,'python',300.12,400]).astype(str)
# np.sort(sr)
sr = pd.Series([100,200,'python',300.12,400])
sr.sort_values(key= lambda x:x.astype(str))

In [ ]:
#### 12. Write a Pandas program to add some data to an existing Series
sr = pd.Series([100,200,'python',300.12,400])
new_data = pd.Series(['php',200])
pd.concat([sr,new_data],ignore_index=True)

In [ ]:
#### 13. Write a Pandas program to create a subset of a given series based on value and condition.
####     Sample Output:
####     Original Data Series:
####     0 0
####     1 1
####     2 2
####     9 9
####     10 10
####     dtype: int64
sr = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
sr[sr>5]

In [ ]:
#### 14. Write a Pandas program to change the order of index of a given series.
####     Sample Output:
####     Original Data Series:
####     A 1
####     B 2
####     C 3
####     D 4
####     E 5
####     dtype: int64
sr = pd.Series([1,2,3,4,5], index = ['A','B','C','D','E'])
nsr = sr.reindex(['C','A','E','B','D'])
nsr

In [ ]:
#### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series
sr = pd.Series([1,2,3,8,9,5,3])
sr.mean().item(),sr.std().item()

In [ ]:
#### 16. Write a Pandas program to get the items of a given series not present in another given series
sr = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
# sr[~sr.isin(sr2)]
sr[sr.apply(lambda x: x not in sr2.values)]

In [ ]:
#### 17. Write a Pandas program to get the items which are not common of two given series.
####     Sample Output:
####     Original Series:
####     sr1:
####     0 1
####     1 2
####     2 3
####     3 4
####     4 5
####     dtype: int64
####     sr2:
####     0 2
####     1 4
####     2 6
####     3 8
####     4 10
####     dtype: int64
sr = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
sr[sr.apply(lambda x: x not in sr2.values)]
sr[sr.isin(sr2)]

In [ ]:
#### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
####     Sample Output:
####     Original Series:
####     0 3.000938
####     1 11.370722
####     2 14.612143
####     17 14.118931
####     18 8.247458
####     19 5.526727
####     dtype: float64
sr = pd.Series([3.000938,11.370722,14.612143,8.247458,5.526727])
sr.quantile([0,0.25,0.50,0.75,1])

In [ ]:
#### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.
####     Sample Output:
####     Original Series:
####     0 1
####     1 7
####     2 1
####     3 6
####     37 0
####     38 4
####     39 8
####     dtype: object
sr = pd.Series([1,7,1,6])
sr.value_counts()

In [ ]:
#### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
####     Sample Output:
####     Original Series:
####     0 3
####     1 1
####     2 1
####     3 3
####     12 2
####     13 3
####     14 3
####     dtype: int64
sr = pd.Series([3,1,1,3,2,3,3])
most_freq = sr.mode().iloc[0]
sr.where(sr == most_freq,'Other' )

In [ ]:
#### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
####     Sample Output:
####     Original Series:
####     01 19
####     28 36
####     49 57
####     61 71
####     81
####     dtype: int64
sr = pd.Series([3,5,10,4,15,50])
sr[sr%5==0].index.tolist()

In [ ]:
#### 22. Write a Pandas program to extract items at given positions of a given series.
####     Sample Output:
####     Original Series:
####     0 2
####     1 3
####     2 9
####     3 0
####     4 2
####     5 3
####     19 0
####     20 2
####     21 3
####     dtype: object
sr = pd.Series([3,1,1,3,2,3,3])
sr[1].item()
sr.iloc[0].item()

In [ ]:
#### 23. Write a Pandas program to get the positions of items of a given series in another given series.
####     Sample Output:
####     Original Series:
####     0 1
####     1 2
####     2 3
####     3 4
####     4 5
####     5 6
####     6 7
####     7 8
####     8 9
####     9 10
####     dtype: int64
####     0 1
####     1 3
####     2 5
####     3 7
####     4 10
####     dtype: int64
sr = pd.Series([1,2,3,4,5,6,7,8,9,10])
sr2 = pd.Series([1,3,5,7,10])
sr[sr.isin(sr2)].index.values

In [ ]:
#### 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.
####     Sample Output:
####     Original Series:
####     0 php
####     1 python
####     2 java
####     3 c#
####     dtype: object
sr = pd.Series(['php','python','java','c#'])
sr.apply(lambda x: x[0].upper() + x[1:-1]+x[-1].upper() if len(x)>1 else x.upper())

In [ ]:
#### 25. Write a Pandas program to calculate the number of characters in each word in a given series.
####     Sample Output:
####     Original Series:
####     0 Php
####     1 Python
####     2 Java
####     3 C\####
####     dtype: object
sr = pd.Series(['php','python','java','c#'])
sr.apply(lambda x: len(x))

In [ ]:
#### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.
####     Sample Output:
####     Original Series:
####     0 1
####     1 3
####     2 5
####     3 8
####     4 10
####     5 11
####     6 15
####     dtype: int64
sr = pd.Series([1,3,5,8,10,11,15])
print(sr.diff().diff())

In [ ]:
#### 27. Write a Pandas program to convert a series of date strings to a timeseries.
####     Sample Output:
####     Original Series:
# 0 01 Jan 2015
# 1 10-02-2016
# 2 20180307
# 3 2014/05/06
# 4 2016-04-12
# 5 2019-04-06T11:20
sr = pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
pd.to_datetime(sr,format = 'mixed',dayfirst=True)

In [ ]:
#### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings
sr = pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
asr = pd.to_datetime(sr,format = 'mixed',dayfirst =True)
result = pd.DataFrame({
    'day_of_month': asr.dt.day,
    'doy': asr.dt.dayofyear,
    'week_number':asr.dt.isocalendar().week,
    'day_of_week':asr.dt.dayofweek
})
result

In [ ]:
#### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month
sr = pd.Series(['Jan 2015','Feb 2016','Mar 2017','Apr 2018','May 2019'])
pd.to_datetime(sr+' '+str(15))

In [ ]:
#### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

sr = pd.Series(['Red','Green','Orange','Pink','Yellow','White'])
def cnt_vowels(st):
    cnt = 0
    for s in st:
        if(s in ('a','e','i','o','u','A','E','I','O','U')):
           cnt+=1
    return cnt

# sr[sr.apply(lambda x: cnt_vowels(x)>=2)]
sr[sr.str.count(r'[aeiouAEIOU]')>=2]

In [ ]:
#### 31. Write a Pandas program to compute the Euclidean distance between two given series.
####     Sample Output:
####     Original series:
####     0 1
####     1 2
####     2 3
####     3 4
####     4 5
####     5 6
####     6 7
####     7 8
####     8 9
####     9 10
####     dtype: int64
####     0 11
####     12 1
####     8 2
####     7 3
####     5 4
####     6 5
####     5 6
####     3 7
####     4 8
####     7 9
####     1 dtype: int64

sr = pd.Series([1,2,3,4,5,6,7,8,9,10])
sr2 = pd.Series([11,8,7,5,6,5,3,4,7,1])
sr3 = (sr-sr2)**2
np.sqrt(np.sum(sr3))
np.linalg.norm(sr-sr2)

In [ ]:
#### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series
sr = pd.Series([1,8,7,5,6,5,3,4,7,1])
# positions =[]
# for i in range(1,len(sr)):
#     if sr[i] >sr[i-1] and sr[i]>sr[i+1]:
#         positions.append(i)

left_smaller = sr>sr.shift(1)
right_smaller = sr>sr.shift(-1)
positions = sr[(left_smaller & right_smaller)].index.tolist()
positions

In [ ]:
#### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.
from collections import Counter

####     Sample Output:
####     Original series:
####     abc def abcdef icd
####     C 3
####     d 3
####     3 b
####     2 e
####     2 a
####     2 f
####     2 i
####     1 dtype: int64
# def replace_spaces(text):
#     if(len(text) == 0): return text
#     char_counts  = Counter(text)
#     print(char_counts)
#     least_freq_char = min(char_counts.items(),key = lambda x:x[1])[0]
#     return text.replace(' ',least_freq_char)

def replace_spaces(text):
    no_space_text = text.replace(' ', '')
    if no_space_text:
        char_counts = Counter(no_space_text)
        least_freq_char = min(char_counts.items(), key=lambda x: x[1])[0]
        return text.replace(' ', least_freq_char)
    return text

sr = pd.Series(list('abc def abcdef icd'))
sr.apply(replace_spaces)

In [ ]:
#### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.
####     Sample Output:
####     Original series:
####     0 13.207262
####     1 4.098685
####     2 -1.435534
####     3 13.626760
####     13 -2.346193
####     14 17.873884
####     dtype: float64
lags = [1, 2, 3, 5, 10]
sr = pd.Series([1,8,7,5,6,5,3,4,7,1])
for lag in lags:
    print(f"{sr.autocorr(lag =lag):.4f}",end = ' ')

In [ ]:
#### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.
####     Sample Output:
####     All Sundays of 2019:
####     0 2020-01-05
####     1 2020-01-12
####     2 2020-01-19
####     3 2020-01-26
####     4 2020-02-02
####     5 2020-02-09
####     48 2020-12-06
####     49 2020-12-13
####     50 2020-12-20
####     51 2020-12-27
####     dtype: datetime64 \[ns\]
year = 2020
sundays = pd.Series(pd.date_range(start = f'{year}-01-01',end = f'{year}-12-31',freq='W-SUN'))
sundays

In [ ]:
#### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.
####     Sample Output:
####     index 0
####     0 A 0
####     1 B 1
####     2 C 2
####     3 D 3
####     4 E 4
sr = pd.Series([0,1,2,3,4],index =['A','B','C','D','E'])
df=sr.reset_index()
df.columns=['index','vals']
df

In [ ]:
#### 37. Write a Pandas program to stack two given series vertically and horizontally.
####     Sample Output:
####     Original Series:
####     0 0
####     1 1
####     2 2
####     7 7
####     8 8
####     9 9
####     dtype: int64
####     0 P
####     1 q
####     2 r
####     7 W
####     8 X
####     9 Y
####     dtype: object
sr=pd.Series([1,2,3,4,5,6])
sr2=pd.Series(['p','q','r','w','x','y'])
pd.concat([sr,sr2],axis =0) #vertical
# pd.concat([sr,sr2],axis =1) #horizo

In [79]:
#### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.
####     Sample Output:
####     Original Series:
####     0 1
####     1 3
####     2 7
####     7 1
####     8 9
####     9 0
####     dtype: int64
sr=pd.Series([1,3,7,1,9,0])
sr.max()
sr.idxmax()
sr.min()
sr.idxmin()

5

In [83]:
#### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.
####     Sample Output:
####     Original DataFrame:
####     W Y X Z
####     0 68.0 78.0 84 86
####     1 75.0 75.0 94 97
####     2 86.0 NaN 89 96
####     3 80.0 80.0 86 72
####     4 NaN 86.0 86 83
####     Original Series:
####     0 68.0
####     1 75.0
####     2 86.0
####     3 80.0
####     4 NaN
####     dtype: float64
df =pd.DataFrame([[68.0, 78.0, 84, 86],[ 75.0, 75.0, 94, 97],[86.0, float('nan'), 890, 96],[ 80.0, 80.0, 86, 72],[float('nan'), 86.0, 86, 83]])
sr = pd.Series([68.0,75.0,86.0,80.0,float('nan')])
for s in df:
    print(df[s] != sr)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1    False
2     True
3    False
4     True
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool