In [2]:
import pandas as pd
import numpy as np
from datetime import datetime,date,time

#### 1. Write a Pandas program to create
#### a) Datetime object for Jan 15 2012.
#### b) Specific date and time of 9:20 pm.
#### c) Local date and time.
#### d) A date without time.
#### e) Current date.
#### f) Time from a datetime.
#### g) Current local time.

In [12]:
#a
dt1 = pd.to_datetime('2012-01-15')
dt1 = pd.to_datetime('15-01-2012',format = '%d-%m-%Y')
dt1

Timestamp('2012-01-15 00:00:00')

In [10]:
#b
dt1 = pd.to_datetime('2012-01-15 21:20:00')
dt1

Timestamp('2012-01-15 21:20:00')

In [11]:
#c
dt1=pd.Timestamp.now()
dt1

Timestamp('2025-10-17 17:01:00.439966')

In [14]:
#d
dt1 = pd.to_datetime('2012-01-15').date()
dt1

datetime.date(2012, 1, 15)

In [15]:
#e
dt1 = pd.Timestamp.now().date()
dt1

datetime.date(2025, 10, 17)

In [19]:
#f
dt1 = pd.to_datetime('2012-01-15 21:20:30').time()
dt1.hour,dt1.minute,dt1.second

(21, 20, 30)

In [22]:
#g
t1 = pd.Timestamp.now().time()
t1.hour,t1.minute,t1.second

(17, 15, 10)

#### 2. Write a Pandas program to create
#### a) a specific date using timestamp.
#### b) date and time using timestamp.
#### c) a time adds in the current local date using timestamp.
#### d) current date and time using timestamp.

In [24]:
#a
pd.Timestamp(2012,1,15)

Timestamp('2012-01-15 00:00:00')

In [25]:
#b
pd.Timestamp(2012,1,15,17,34,20)

Timestamp('2012-01-15 17:34:20')

In [36]:
#c
d = pd.Timestamp.now().date()
t = pd.to_datetime("17:50:20").time()
dt = pd.Timestamp.combine(d,t)
dt

Timestamp('2025-10-17 17:50:20')

In [34]:
#d
dt = pd.Timestamp.now()
print(dt.date())
print(dt.time())

2025-10-17
18:10:50.871732

#### 3. Write a Pandas program to create a date from a given year, month, day and
#### another date from a given string formats.

#### 4. Write a Pandas program to print the day after and before a specified date. Also
#### print the days between two given dates.

#### 5. Write a Pandas program to create a time-series with two index labels and
#### random values. Also print the type of the index.

#### 6. Write a Pandas program to create a time-series from a given list of dates as
#### strings.

#### 7. Write a Pandas program to create a time series object that has time indexed
#### data. Also select the dates of same year and select the dates between certain
#### dates.

#### 8. Write a Pandas program to create a date range using a startpoint date and a
#### number of periods.

#### 9. Write a Pandas program to create a whole month of dates in daily frequencies.
#### Also find the maximum, minimum timestamp and indexs.

#### 10. Write a Pandas program to create a time series using three months
#### frequency.

#### 11. Write a Pandas program to create a sequence of durations increasing by an
#### hour.

#### 12. Write a Pandas program to convert year and day of year into a single
#### datetime column of a dataframe.

#### 13. Write a Pandas program to create a series of Timestamps from a DataFrame
#### of integer or string columns. Also create a series of Timestamps using specified
####
#### columns.

#### 14. Write a Pandas program to check if a day is a business day (weekday) or not.

#### 15. Write a Pandas program to get a time series with the last working days of
#### each month of a specific year.

#### 16. Write a Pandas program to create a time series combining hour and minute.

#### 17. Write a Pandas program to convert unix/epoch time to a regular time stamp
#### in UTC. Also convert the said timestamp in to a given time zone.

#### 18. Write a Pandas program to create a time series object with a time zone.

#### 19. Write a Pandas program to remove the time zone information from a Time
#### series data.

#### 20. Write a Pandas program to subtract two timestamps of same time zone or
#### different time zone.

#### 21. Write a Pandas program to calculate all Thursdays between two given days.

#### 22. Write a Pandas program to find the all the business quarterly begin and end
#### dates of a specified year.

#### 23. Write a Pandas program to generate sequences of fixed-frequency dates and
#### time spans intervals.

#### 24. Write a Pandas program to generate time series combining day and intraday
#### offsets intervals.

#### 25. Write a Pandas program to extract the day name from a specified date. Add 2
#### days and 1 business day with the specified date.

#### 26. Write a Pandas program to convert integer or float epoch times to Timestamp
#### and DatetimeIndex.

#### 27. Write a Pandas program to calculate one, two, three business day(s) from a
#### specified date. Also find the next business month end from a specific date.

#### 28. Write a Pandas program to create a period index represent all monthly
#### boundaries of a given year. Also print start and end time for each period object in
#### the said index.

#### 29. Write a Pandas program create a series with a PeriodIndex which represents
#### all the calendar month periods in 2029 and 2031. Also print the values for all
#### periods in 2030.
#### Note: PeriodIndex is an immutable ndarray holding ordinal values indicating
#### regular periods in time such as particular years, quarters, months, etc.

#### 30. Write a Pandas program to generate holidays between two dates using the
#### US federal holiday calendar

#### 31. Write a Pandas program to create a monthly time period and display the list
#### of names in the current local scope.

#### 32. Write a Pandas program to create a yearly time period from a specified year
#### and display the properties of this period.