In [194]:
import pandas as pd
import numpy as np
from datetime import datetime,date,time
from pandas.tseries.holiday import USFederalHolidayCalendar

In [171]:
import warnings
warnings.filterwarnings('ignore')
# warnings.resetwarnings()

#### 1. Write a Pandas program to create
#### a) Datetime object for Jan 15 2012.
#### b) Specific date and time of 9:20 pm.
#### c) Local date and time.
#### d) A date without time.
#### e) Current date.
#### f) Time from a datetime.
#### g) Current local time.

In [15]:
#a
dt1 = pd.to_datetime('2012-01-15')
# dt1 = pd.to_datetime('15-01-2012',format = '%d-%m-%Y')
dt1

Timestamp('2012-01-15 00:00:00')

In [14]:
#ab
dt1 = pd.to_datetime('2012-01-15').date()
dt1

datetime.date(2012, 1, 15)

In [3]:
#b
dt1 = pd.to_datetime('2012-01-15 21:20:00')
dt1

Timestamp('2012-01-15 21:20:00')

In [4]:
#c
dt1=pd.Timestamp.now()
dt1

Timestamp('2025-10-19 12:24:44.522435')

In [5]:
#d
dt1 = pd.to_datetime('2012-01-15').date()
dt1

datetime.date(2012, 1, 15)

In [6]:
#e
dt1 = pd.Timestamp.now().date()
dt1

datetime.date(2025, 10, 19)

In [7]:
#f
dt1 = pd.to_datetime('2012-01-15 21:20:30').time()
dt1.hour,dt1.minute,dt1.second

(21, 20, 30)

In [8]:
#g
t1 = pd.Timestamp.now().time()
t1.hour,t1.minute,t1.second

(12, 24, 44)

#### 2. Write a Pandas program to create
#### a) a specific date using timestamp.
#### b) date and time using timestamp.
#### c) a time adds in the current local date using timestamp.
#### d) current date and time using timestamp.

In [9]:
#a
pd.Timestamp(2012,1,15)

Timestamp('2012-01-15 00:00:00')

In [10]:
#b
pd.Timestamp(2012,1,15,17,34,20)

Timestamp('2012-01-15 17:34:20')

#### **

In [133]:
#c
d = pd.Timestamp.now().date()
t = pd.to_datetime("17:50",format = '%H:%M').dt.time
dt = pd.Timestamp.combine(d,t)
dt

AttributeError: 'Timestamp' object has no attribute 'dt'

In [12]:
#d
dt = pd.Timestamp.now()
print(dt.date())
print(dt.time())

2025-10-19
12:24:45.024061

#### 3. Write a Pandas program to create a date from a given year, month, day and
#### another date from a given string formats.

In [25]:
d1 = pd.to_datetime({'year':[2023],'month':[12],'day':[25]})[0]
d1

Timestamp('2023-12-25 00:00:00')

In [29]:
d1  = pd.to_datetime('25-12-2023',dayfirst = True)
print(d1)
d1  = pd.to_datetime('25/12/2023',format = "%d/%m/%Y")
d1

2023-12-25 00:00:00

Timestamp('2023-12-25 00:00:00')

#### 4. Write a Pandas program to print the day after and before a specified date. Also
#### print the days between two given dates.

In [39]:
d1 = pd.to_datetime('2023-12-25 23:59:59')
db = d1 - pd.Timedelta(days =1)
da = d1 + pd.Timedelta(days =1)
print(d1," ",db," ",da)

(db-da).days

2023-12-25 23:59:59   2023-12-24 23:59:59   2023-12-26 23:59:59

-2

#### 5. Write a Pandas program to create a time-series with two index labels and
#### random values. Also print the type of the index.

In [71]:
date_strings = ['2023-06-15','2023-06-16']
dates= pd.to_datetime(date_strings)
values= np.random.uniform(10,50,2)
ts = pd.Series(values,index= dates,name = 'random_values')
# ts.dtype
# ts.index.dtype
ts

2023-06-15    31.185950
2023-06-16    29.957783
Name: random_values, dtype: float64

#### 6. Write a Pandas program to create a time-series from a given list of dates as
#### strings.

In [72]:
date_data ={
    '2023-12-25':100,
    '2023-12-26':150,
    '2023-12-27':200,
    '2023-12-28':180
}
ts = pd.Series(date_data)
ts.index = pd.to_datetime(ts.index)
ts

2023-12-25    100
2023-12-26    150
2023-12-27    200
2023-12-28    180
dtype: int64

#### 7. Write a Pandas program to create a time series object that has time indexed
#### data. Also select the dates of same year and select the dates between certain
#### dates.

In [76]:
dates = pd.date_range('2022-01-01','2023-12-31',freq = 'B')
values = np.random.randn(len(dates))
ts = pd.Series(values,index= dates,name = 'daily_data')

d_23 = ts['2023']
d_betw = ts['2023-06-01': '2023-11-12']
print(d_23)
d_betw

2023-01-02    0.154940
2023-01-03    0.336751
2023-01-04    0.027642
2023-01-05    1.963026
2023-01-06    0.923358
                ...
2023-12-25   -0.593273
2023-12-26    0.398342
2023-12-27   -0.020454
2023-12-28    0.103815
2023-12-29   -0.027767
Freq: B, Name: daily_data, Length: 260, dtype: float64

2023-06-01   -0.408610
2023-06-02    1.573605
2023-06-05    0.365778
2023-06-06   -1.015320
2023-06-07   -0.185262
                ...
2023-11-06    1.149818
2023-11-07   -2.055816
2023-11-08    0.308900
2023-11-09   -0.250514
2023-11-10    0.748853
Freq: B, Name: daily_data, Length: 117, dtype: float64

#### 8. Write a Pandas program to create a date range using a startpoint date and a
#### number of periods.

In [77]:
dates = pd.date_range('2023-12-01',periods = 45,freq = 'D')
dates

DatetimeIndex(['2023-12-01', '2023-12-02', '2023-12-03', '2023-12-04',
               '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08',
               '2023-12-09', '2023-12-10', '2023-12-11', '2023-12-12',
               '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-16',
               '2023-12-17', '2023-12-18', '2023-12-19', '2023-12-20',
               '2023-12-21', '2023-12-22', '2023-12-23', '2023-12-24',
               '2023-12-25', '2023-12-26', '2023-12-27', '2023-12-28',
               '2023-12-29', '2023-12-30', '2023-12-31', '2024-01-01',
               '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
               '2024-01-06', '2024-01-07', '2024-01-08', '2024-01-09',
               '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-13',
               '2024-01-14'],
              dtype='datetime64[ns]', freq='D')

#### 9. Write a Pandas program to create a whole month of dates in daily frequencies.
#### Also find the maximum, minimum timestamp and indexs.

In [81]:
dates = pd.date_range('2023-12-01',periods = pd.Period('2023-12-01').days_in_month,freq = 'D')
ts = pd.Series(range(len(dates)),index = dates)
print(ts.index.max(), ts.index.min())
print(ts.index)
print(ts.index[0].strftime('%B %Y'))

2023-12-31 00:00:00 2023-12-01 00:00:00
DatetimeIndex(['2023-12-01', '2023-12-02', '2023-12-03', '2023-12-04',
               '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08',
               '2023-12-09', '2023-12-10', '2023-12-11', '2023-12-12',
               '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-16',
               '2023-12-17', '2023-12-18', '2023-12-19', '2023-12-20',
               '2023-12-21', '2023-12-22', '2023-12-23', '2023-12-24',
               '2023-12-25', '2023-12-26', '2023-12-27', '2023-12-28',
               '2023-12-29', '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='D')
December 2023

#### 10. Write a Pandas program to create a time series using three months
#### frequency.

In [89]:
dates = pd.date_range('2023-01-01',periods = 6, freq = '3M')
values = np.random.randint(100,500,len(dates))
ts = pd.Series(values, index= dates,name = 'quarterly_data')
ts

C:\Users\dai\AppData\Local\Temp\ipykernel_9804\652787539.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range('2023-01-01',periods = 6, freq = '3M')

2023-01-31    232
2023-04-30    240
2023-07-31    172
2023-10-31    286
2024-01-31    285
2024-04-30    181
Freq: 3ME, Name: quarterly_data, dtype: int32

#### 11. Write a Pandas program to create a sequence of durations increasing by an
#### hour.

In [98]:
durations = pd.timedelta_range(start = '0 hours',periods = 5, freq = 'H')
for i,duration in enumerate(durations):
    print(duration,end = " ")

0 days 00:00:00 0 days 01:00:00 0 days 02:00:00 0 days 03:00:00 0 days 04:00:00

C:\Users\dai\AppData\Local\Temp\ipykernel_9804\2870206778.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  durations = pd.timedelta_range(start = '0 hours',periods = 5, freq = 'H')

#### 12. Write a Pandas program to convert year and day of year into a single
#### datetime column of a dataframe.

In [99]:
df = pd.DataFrame({
    'year': [2023,2023,2024,2024],
    'day_of_year': [1,365,60,366]
})
df['datetime'] = pd.to_datetime(df['year'].astype(str)+ '-'+df['day_of_year'].astype(str),format = '%Y-%j')
df

   year  day_of_year   datetime
0  2023            1 2023-01-01
1  2023          365 2023-12-31
2  2024           60 2024-02-29
3  2024          366 2024-12-31

#### 13. Write a Pandas program to create a series of Timestamps from a DataFrame
#### of integer or string columns. Also create a series of Timestamps using specified columns.

In [102]:
df = pd.DataFrame({
    'year':[2023,2023,2024],
    'month':[1,12,6],
    'day': [15,25,10],
    'hour': [14,9,18],
    'minute': [30,45,0]
})
ts_series = pd.to_datetime(df[['year','month','day','hour','minute']])
ts_series

df = pd.DataFrame({
    'date_str': ['2023-05-15', '2023-12-31', '2024-02-29'],
    'time_str': ['14:30:45', '23:59:59', '00:00:01']
})
df['datetime_str'] = df['date_str']+' '+df['time_str']
ts_series = pd.to_datetime(df['datetime_str'])
ts_series

0   2023-05-15 14:30:45
1   2023-12-31 23:59:59
2   2024-02-29 00:00:01
Name: datetime_str, dtype: datetime64[ns]

#### 14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [105]:
dates = pd.Series(pd.date_range('2024-01-01',periods = 7,freq = 'D'))
dates_df = pd.DataFrame({'date':dates})
dates_df['is_busi_day']  = dates_df['date'].dt.dayofweek<5
dates_df

        date  is_busi_day
0 2024-01-01         True
1 2024-01-02         True
2 2024-01-03         True
3 2024-01-04         True
4 2024-01-05         True
5 2024-01-06        False
6 2024-01-07        False

#### 15. Write a Pandas program to get a time series with the last working days of
#### each month of a specific year.

In [109]:
# def get_last_busi_days(year):
#     months = pd.date_range(f'{year}-01-01',periods = 12, freq = 'MS')
#     last_busi_days = months + pd.offsets.BMonthEnd(0)
#     return last_busi_days
#
# year = 2024
# last_bdays = get_last_busi_days(year)
# last_bdays

def get_last_busi_days(year):
    dates = pd.date_range(f'{year}-01-01',periods = 12, freq = 'BM')
    return dates
get_last_busi_days(2024)

C:\Users\dai\AppData\Local\Temp\ipykernel_9804\1738985039.py:11: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  dates = pd.date_range(f'{year}-01-01',periods = 12, freq = 'BM')

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29', '2024-12-31'],
              dtype='datetime64[ns]', freq='BME')

#### 16. Write a Pandas program to create a time series combining hour and minute.

In [126]:
hour = [12,13,14,15]
minutes = [23,45,43,0]
df= pd.DataFrame({'hour':hour,'minutes':minutes})
t = pd.to_datetime(df['hour'].astype(str)+":"+df['minutes'].astype(str),format = '%H:%M')
t.dt.time

0    12:23:00
1    13:45:00
2    14:43:00
3    15:00:00
dtype: object

#### 17. Write a Pandas program to convert unix/epoch time to a regular time stamp
#### in UTC. Also convert the said timestamp in to a given time zone.

In [135]:
unix_timestamps = [1705334400, 1705420800, 1705507200]
utc_times = pd.to_datetime(unix_timestamps,unit ='s',utc = True)
ist_times = utc_times.tz_convert('Asia/Kolkata')
utc_times,ist_times

(DatetimeIndex(['2024-01-15 16:00:00+00:00', '2024-01-16 16:00:00+00:00',
                '2024-01-17 16:00:00+00:00'],
               dtype='datetime64[ns, UTC]', freq=None),
 DatetimeIndex(['2024-01-15 21:30:00+05:30', '2024-01-16 21:30:00+05:30',
                '2024-01-17 21:30:00+05:30'],
               dtype='datetime64[ns, Asia/Kolkata]', freq=None))

#### 18. Write a Pandas program to create a time series object with a time zone.

In [138]:
pd.date_range('2024-01-15 12:30',periods =1,freq='H',tz = 'Asia/Kolkata')

C:\Users\dai\AppData\Local\Temp\ipykernel_9804\2073251274.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range('2024-01-15 12:30',periods =1,freq='H',tz = 'Asia/Kolkata')

DatetimeIndex(['2024-01-15 12:30:00+05:30'], dtype='datetime64[ns, Asia/Kolkata]', freq='h')

#### 19. Write a Pandas program to remove the time zone information from a Time
#### series data.

In [146]:
data = {
    'event': ['Meeting A','Meeting B','Meeting C'],
    'utc_time': pd.date_range('2024-01-15 09:00',periods =3,freq ='D',tz ='UTC'),
    'ist_time': pd.date_range('2024-01-15 09:00',periods =3,freq ='D',tz ='Asia/Kolkata'),
    'ny_time': pd.date_range('2024-01-15 09:00',periods =3,freq ='D',tz ='America/New_York')
}
df= pd.DataFrame(data)
df['utc_naive'] = df['utc_time'].dt.tz_localize(None)
df['ist_naive'] = df['ist_time'].dt.tz_localize(None)
df['ny_naive'] = df['ny_time'].dt.tz_localize(None)
df

,event,utc_time,ist_time,ny_time,utc_naive,ist_naive,ny_naive
0,Meeting A,2024-01-15 09:00:00+00:00,2024-01-15 09:00:00+05:30,2024-01-15 09:00:00-05:00,2024-01-15 09:00:00,2024-01-15 09:00:00,2024-01-15 09:00:00
1,Meeting B,2024-01-16 09:00:00+00:00,2024-01-16 09:00:00+05:30,2024-01-16 09:00:00-05:00,2024-01-16 09:00:00,2024-01-16 09:00:00,2024-01-16 09:00:00
2,Meeting C,2024-01-17 09:00:00+00:00,2024-01-17 09:00:00+05:30,2024-01-17 09:00:00-05:00,2024-01-17 09:00:00,2024-01-17 09:00:00,2024-01-17 09:00:00

#### 20. Write a Pandas program to subtract two timestamps of same time zone or
#### different time zone.

In [153]:
data = {
    'event': ['Meeting A','Meeting B','Meeting C'],
    'utc_time': pd.date_range('2024-01-15 09:00',periods =3,freq ='D',tz ='UTC'),
    'ist_time': pd.date_range('2024-01-15 09:00',periods =3,freq ='D',tz ='Asia/Kolkata'),
    'ny_time': pd.date_range('2024-01-15 09:00',periods =3,freq ='D',tz ='America/New_York')
}

data2 = {
    'event': ['Meeting A','Meeting B','Meeting C'],
    'utc_time': pd.date_range('2024-01-16 08:00',periods =3,freq ='D',tz ='UTC'),
    'ist_time': pd.date_range('2024-01-16 08:00',periods =3,freq ='D',tz ='Asia/Kolkata'),
    'ny_time': pd.date_range('2024-01-16 08:00',periods =3,freq ='D',tz ='America/New_York')
}
df= pd.DataFrame(data)
df2= pd.DataFrame(data2)

print(df2['utc_time'] - df['ist_time'])
df2['utc_time'] - df['ist_time']

(0   1 days 04:30:00
 1   1 days 04:30:00
 2   1 days 04:30:00
 dtype: timedelta64[ns],
 0   1 days 04:30:00
 1   1 days 04:30:00
 2   1 days 04:30:00
 dtype: timedelta64[ns])

#### 21. Write a Pandas program to calculate all Thursdays between two given days.

In [167]:
dr = pd.DataFrame(pd.Series(pd.date_range('2025-01-01','2025-01-30',freq = 'D'),name = 'dates'))
(dr['dates'].dt.dayofweek == 4).sum()

np.int64(4)

#### 22. Write a Pandas program to find the all the business quarterly begin and end
#### dates of a specified year.

In [169]:
year =  2025
df = pd.DataFrame({
    'starts': pd.date_range(f'{year}-01-01',periods = 4,freq='QS'),
    'ends': pd.date_range(f'{year}-01-01',periods =4,freq='Q')
})
df

C:\Users\dai\AppData\Local\Temp\ipykernel_9804\2006094799.py:4: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  'ends': pd.date_range(f'{year}-01-01',periods =4,freq='Q')

      starts       ends
0 2025-01-01 2025-03-31
1 2025-04-01 2025-06-30
2 2025-07-01 2025-09-30
3 2025-10-01 2025-12-31

#### 23. Write a Pandas program to generate sequences of fixed-frequency dates and
#### time spans intervals.

In [170]:
pd.date_range(start = '2025-02-01',periods = 4,freq='AS')

C:\Users\dai\AppData\Local\Temp\ipykernel_9804\186266307.py:1: FutureWarning: 'AS' is deprecated and will be removed in a future version, please use 'YS' instead.
  pd.date_range(start = '2025-02-01',periods = 4,freq='AS')

DatetimeIndex(['2026-01-01', '2027-01-01', '2028-01-01', '2029-01-01'], dtype='datetime64[ns]', freq='YS-JAN')

#### ** 24. Write a Pandas program to generate time series combining day and intraday
#### offsets intervals.

In [207]:
import pandas as pd
from pandas.tseries.offsets import CustomBusinessDay, Hour

def time_series_method1():
    """Combine business days with hourly intervals"""

    # Define business days (Monday to Friday)
    bday = CustomBusinessDay(weekmask='Mon Tue Wed Thu Fri')

    # Create date range for business days
    business_days = pd.date_range(start='2024-01-01', end='2024-01-10', freq=bday)

    # Generate time series combining days and intraday hours
    time_series = []

    for day in business_days:
        # For each business day, create intraday timestamps
        intraday_times = pd.date_range(
            start=day.replace(hour=9, minute=30),  # Market open
            end=day.replace(hour=16, minute=0),    # Market close
            freq='30min'  # Every 30 minutes
        )
        time_series.extend(intraday_times)
    return pd.DatetimeIndex(time_series)

# Generate time series
ts = time_series_method1()

print("Method 1: Business Days + 30-minute Intervals")
print("=" * 70)
print(f"Total timestamps: {len(ts)}")
print(f"Date range: {ts[0]} to {ts[-1]}")
print(f"\nFirst 15 timestamps:")
for i, timestamp in enumerate(ts):
    print(f"  {i+1:2d}. {timestamp}")

Method 1: Business Days + 30-minute Intervals
======================================================================
Total timestamps: 112
Date range: 2024-01-01 09:30:00 to 2024-01-10 16:00:00

First 15 timestamps:
   1. 2024-01-01 09:30:00
   2. 2024-01-01 10:00:00
   3. 2024-01-01 10:30:00
   4. 2024-01-01 11:00:00
   5. 2024-01-01 11:30:00
   6. 2024-01-01 12:00:00
   7. 2024-01-01 12:30:00
   8. 2024-01-01 13:00:00
   9. 2024-01-01 13:30:00
  10. 2024-01-01 14:00:00
  11. 2024-01-01 14:30:00
  12. 2024-01-01 15:00:00
  13. 2024-01-01 15:30:00
  14. 2024-01-01 16:00:00
  15. 2024-01-02 09:30:00
  16. 2024-01-02 10:00:00
  17. 2024-01-02 10:30:00
  18. 2024-01-02 11:00:00
  19. 2024-01-02 11:30:00
  20. 2024-01-02 12:00:00
  21. 2024-01-02 12:30:00
  22. 2024-01-02 13:00:00
  23. 2024-01-02 13:30:00
  24. 2024-01-02 14:00:00
  25. 2024-01-02 14:30:00
  26. 2024-01-02 15:00:00
  27. 2024-01-02 15:30:00
  28. 2024-01-02 16:00:00
  29. 2024-01-03 09:30:00
  30. 2024-01-03 10:00:00
  31. 2024-01-03 10:30:00
  32. 2024-01-03 11:00:00
  33. 2024-01-03 11:30:00
  34. 2024-01-03 12:00:00
  35. 2024-01-03 12:30:00
  36. 2024-01-03 13:00:00
  37. 2024-01-03 13:30:00
  38. 2024-01-03 14:00:00
  39. 2024-01-03 14:30:00
  40. 2024-01-03 15:00:00
  41. 2024-01-03 15:30:00
  42. 2024-01-03 16:00:00
  43. 2024-01-04 09:30:00
  44. 2024-01-04 10:00:00
  45. 2024-01-04 10:30:00
  46. 2024-01-04 11:00:00
  47. 2024-01-04 11:30:00
  48. 2024-01-04 12:00:00
  49. 2024-01-04 12:30:00
  50. 2024-01-04 13:00:00
  51. 2024-01-04 13:30:00
  52. 2024-01-04 14:00:00
  53. 2024-01-04 14:30:00
  54. 2024-01-04 15:00:00
  55. 2024-01-04 15:30:00
  56. 2024-01-04 16:00:00
  57. 2024-01-05 09:30:00
  58. 2024-01-05 10:00:00
  59. 2024-01-05 10:30:00
  60. 2024-01-05 11:00:00
  61. 2024-01-05 11:30:00
  62. 2024-01-05 12:00:00
  63. 2024-01-05 12:30:00
  64. 2024-01-05 13:00:00
  65. 2024-01-05 13:30:00
  66. 2024-01-05 14:00:00
  67. 2024-01-05 14:30:00
  68. 2024-01-05 15:00:00
  69. 2024-01-05 15:30:00
  70. 2024-01-05 16:00:00
  71. 2024-01-08 09:30:00
  72. 2024-01-08 10:00:00
  73. 2024-01-08 10:30:00
  74. 2024-01-08 11:00:00
  75. 2024-01-08 11:30:00
  76. 2024-01-08 12:00:00
  77. 2024-01-08 12:30:00
  78. 2024-01-08 13:00:00
  79. 2024-01-08 13:30:00
  80. 2024-01-08 14:00:00
  81. 2024-01-08 14:30:00
  82. 2024-01-08 15:00:00
  83. 2024-01-08 15:30:00
  84. 2024-01-08 16:00:00
  85. 2024-01-09 09:30:00
  86. 2024-01-09 10:00:00
  87. 2024-01-09 10:30:00
  88. 2024-01-09 11:00:00
  89. 2024-01-09 11:30:00
  90. 2024-01-09 12:00:00
  91. 2024-01-09 12:30:00
  92. 2024-01-09 13:00:00
  93. 2024-01-09 13:30:00
  94. 2024-01-09 14:00:00
  95. 2024-01-09 14:30:00
  96. 2024-01-09 15:00:00
  97. 2024-01-09 15:30:00
  98. 2024-01-09 16:00:00
  99. 2024-01-10 09:30:00
  100. 2024-01-10 10:00:00
  101. 2024-01-10 10:30:00
  102. 2024-01-10 11:00:00
  103. 2024-01-10 11:30:00
  104. 2024-01-10 12:00:00
  105. 2024-01-10 12:30:00
  106. 2024-01-10 13:00:00
  107. 2024-01-10 13:30:00
  108. 2024-01-10 14:00:00
  109. 2024-01-10 14:30:00
  110. 2024-01-10 15:00:00
  111. 2024-01-10 15:30:00
  112. 2024-01-10 16:00:00

#### 25. Write a Pandas program to extract the day name from a specified date. Add 2
#### days and 1 business day with the specified date.

In [177]:
d = pd.to_datetime('2024-01-01')
d.day_name(),d + pd.DateOffset(days =2)+pd.offsets.BDay(1)

('Monday', Timestamp('2024-01-04 00:00:00'))

#### 26. Write a Pandas program to convert integer or float epoch times to Timestamp
#### and DatetimeIndex.

In [182]:
utc_times = pd.to_datetime([1705334400,1705335000],unit ='s')
utc_times, utc_times[0]

(DatetimeIndex(['2024-01-15 16:00:00', '2024-01-15 16:10:00'], dtype='datetime64[ns]', freq=None),
 Timestamp('2024-01-15 16:00:00'))

#### 27. Write a Pandas program to calculate one, two, three business day(s) from a
#### specified date. Also find the next business month end from a specific date.

In [184]:
d = pd.to_datetime('2024-01-01')
pd.date_range('2024-01-01',periods = 4,freq = 'B'),pd.date_range('2024-01-01',periods = 1,freq = 'BM')

(DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04'], dtype='datetime64[ns]', freq='B'),
 DatetimeIndex(['2024-01-31'], dtype='datetime64[ns]', freq='BME'))

#### 28. Write a Pandas program to create a period index represent all monthly
#### boundaries of a given year. Also print start and end time for each period object in
#### the said index.

In [187]:
year = '2024'
period_index = pd.period_range(start = f'{year}-01',end = f'{year}-12',freq = 'M')
periods_data = []
for period in period_index:
    periods_data.append({
        'Period': period,
        'Start_time':period.start_time,
        'End_time': period.end_time,
        'Month_name': period.strftime('%B'),
        'Days_in_Month':period.days_in_month
    })
periods_data

[{'Period': Period('2024-01', 'M'),
  'Start_time': Timestamp('2024-01-01 00:00:00'),
  'End_time': Timestamp('2024-01-31 23:59:59.999999999'),
  'Month_name': 'January',
  'Days_in_Month': 31},
 {'Period': Period('2024-02', 'M'),
  'Start_time': Timestamp('2024-02-01 00:00:00'),
  'End_time': Timestamp('2024-02-29 23:59:59.999999999'),
  'Month_name': 'February',
  'Days_in_Month': 29},
 {'Period': Period('2024-03', 'M'),
  'Start_time': Timestamp('2024-03-01 00:00:00'),
  'End_time': Timestamp('2024-03-31 23:59:59.999999999'),
  'Month_name': 'March',
  'Days_in_Month': 31},
 {'Period': Period('2024-04', 'M'),
  'Start_time': Timestamp('2024-04-01 00:00:00'),
  'End_time': Timestamp('2024-04-30 23:59:59.999999999'),
  'Month_name': 'April',
  'Days_in_Month': 30},
 {'Period': Period('2024-05', 'M'),
  'Start_time': Timestamp('2024-05-01 00:00:00'),
  'End_time': Timestamp('2024-05-31 23:59:59.999999999'),
  'Month_name': 'May',
  'Days_in_Month': 31},
 {'Period': Period('2024-06', 'M'),
  'Start_time': Timestamp('2024-06-01 00:00:00'),
  'End_time': Timestamp('2024-06-30 23:59:59.999999999'),
  'Month_name': 'June',
  'Days_in_Month': 30},
 {'Period': Period('2024-07', 'M'),
  'Start_time': Timestamp('2024-07-01 00:00:00'),
  'End_time': Timestamp('2024-07-31 23:59:59.999999999'),
  'Month_name': 'July',
  'Days_in_Month': 31},
 {'Period': Period('2024-08', 'M'),
  'Start_time': Timestamp('2024-08-01 00:00:00'),
  'End_time': Timestamp('2024-08-31 23:59:59.999999999'),
  'Month_name': 'August',
  'Days_in_Month': 31},
 {'Period': Period('2024-09', 'M'),
  'Start_time': Timestamp('2024-09-01 00:00:00'),
  'End_time': Timestamp('2024-09-30 23:59:59.999999999'),
  'Month_name': 'September',
  'Days_in_Month': 30},
 {'Period': Period('2024-10', 'M'),
  'Start_time': Timestamp('2024-10-01 00:00:00'),
  'End_time': Timestamp('2024-10-31 23:59:59.999999999'),
  'Month_name': 'October',
  'Days_in_Month': 31},
 {'Period': Period('2024-11', 'M'),
  'Start_time': Timestamp('2024-11-01 00:00:00'),
  'End_time': Timestamp('2024-11-30 23:59:59.999999999'),
  'Month_name': 'November',
  'Days_in_Month': 30},
 {'Period': Period('2024-12', 'M'),
  'Start_time': Timestamp('2024-12-01 00:00:00'),
  'End_time': Timestamp('2024-12-31 23:59:59.999999999'),
  'Month_name': 'December',
  'Days_in_Month': 31}]

#### 29. Write a Pandas program create a series with a PeriodIndex which represents
#### all the calendar month periods in 2029 and 2031. Also print the values for all
#### periods in 2030

In [192]:
periods = pd.period_range(start = '2029-01',end = '2031-12',freq = 'M')
for period in periods:
    print(period,end ="| ")

2029-01| 2029-02| 2029-03| 2029-04| 2029-05| 2029-06| 2029-07| 2029-08| 2029-09| 2029-10| 2029-11| 2029-12| 2030-01| 2030-02| 2030-03| 2030-04| 2030-05| 2030-06| 2030-07| 2030-08| 2030-09| 2030-10| 2030-11| 2030-12| 2031-01| 2031-02| 2031-03| 2031-04| 2031-05| 2031-06| 2031-07| 2031-08| 2031-09| 2031-10| 2031-11| 2031-12|

#### 30. Write a Pandas program to generate holidays between two dates using the
#### US federal holiday calendar

In [196]:
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start = '2024-01-01',end = '2024-12-31')
for holiday in holidays:
    print(cal.rules[0].name if hasattr(cal.rules[0],'name') else 'US Federal Holiday')
    print(holiday.day_name(),holiday.year,holiday.month_name())
    print()

New Year's Day
Monday 2024 January

New Year's Day
Monday 2024 January

New Year's Day
Monday 2024 February

New Year's Day
Monday 2024 May

New Year's Day
Wednesday 2024 June

New Year's Day
Thursday 2024 July

New Year's Day
Monday 2024 September

New Year's Day
Monday 2024 October

New Year's Day
Monday 2024 November

New Year's Day
Thursday 2024 November

New Year's Day
Wednesday 2024 December

#### 31. Write a Pandas program to create a monthly time period and display the list
#### of names in the current local scope.

In [197]:
import pandas as pd

def create_monthly_period_method1():
    """Create monthly period and display local scope names"""

    # Create a monthly time period for 2024
    monthly_period = pd.period_range(start='2024-01', end='2024-12', freq='M')

    # Create some variables in local scope
    year = 2024
    frequency = 'Monthly'
    total_months = len(monthly_period)
    first_month = monthly_period[0]
    last_month = monthly_period[-1]

    # Get local scope names
    local_names = list(locals().keys())

    return monthly_period, local_names

# Execute the function
periods, local_vars = create_monthly_period_method1()

print("Method 1: Using period_range() with locals()")
print("=" * 70)
print("Monthly Time Periods (2024):")
print(periods)

print(f"\nNames in Local Scope:")
for i, name in enumerate(local_vars, 1):
    print(f"  {i:2d}. {name}")

print(f"\nTotal names in local scope: {len(local_vars)}")

Method 1: Using period_range() with locals()
======================================================================
Monthly Time Periods (2024):
PeriodIndex(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
             '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
            dtype='period[M]')

Names in Local Scope:
   1. monthly_period
   2. year
   3. frequency
   4. total_months
   5. first_month
   6. last_month

Total names in local scope: 6

#### 32. Write a Pandas program to create a yearly time period from a specified year
#### and display the properties of this period.

In [201]:
pr = pd.period_range('2022','2025',freq='A')
for p in pr:
    print(p,p.start_time)

2022 2022-01-01 00:00:00
2023 2023-01-01 00:00:00
2024 2024-01-01 00:00:00
2025 2025-01-01 00:00:00