In [ ]:
from enum import unique

import pandas as pd
import numpy as np

In [ ]:
#### 1. Write a Pandas program to read a csv file from a specified source and print the
#### first 5 rows
df = pd.read_csv("C:\\Users\\dai\\Downloads\\diamonds.csv").iloc[:,1:]
df.head()

In [ ]:
#### 2. Write a Pandas program to read a dataset from diamonds DataFrame and
#### modify the default columns values and print the first 6 rows.
df.loc[0:5,'carat'] = 0.21
df.head(6)

In [ ]:
#### 3. Write a Pandas program to select a series from diamonds DataFrame. Print
#### the content of the series
print(df['cut'])

In [ ]:
#### 4. Write a Pandas program to create a new 'Quality -color' Series (use bracket
#### notation to define the Series name) of the diamonds DataFrame.
df.insert(1,'Quality - color','red')

In [ ]:
#### 5. Write a Pandas program to find the number of rows and columns and data
#### type of each column of diamonds Dataframe.
df.info()

In [ ]:
#### 6. Write a Pandas program to summarize only 'object' columns of the diamonds
#### Dataframe.
df.select_dtypes(include = ['object']).describe()

In [ ]:
#### 7. Write a Pandas program to rename two of the columns of the diamonds
#### Dataframe
df['color'].rename('colors')
df['cut'].rename('cuts')

In [ ]:
#### 8. Write a Pandas program to rename all the columns of the diamonds
#### Dataframe
df.columns = [col+"s" for col in df.columns]
# df.rename(columns =[col+"s" for col in df.columns])

In [ ]:
#### 9. Write a Pandas program to remove the second column of the diamonds
#### Dataframe
df.drop(columns = df.columns[1])

In [ ]:
#### 10. Write a Pandas program to remove multiple columns at once of the diamonds
#### Dataframe.
df = df.drop(columns = df.columns[0:-1])

In [ ]:
#### 11. Write a Pandas program to remove multiple rows at once (axis=0 refers to
#### rows) from diamonds dataframe
df = df.drop(['carat','cut','color'],axis =1)

In [ ]:
df

In [ ]:
#### 12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a
#### Series) of diamonds Dataframe
df['cut'].sort_values()

In [ ]:
#### 13. Write a Pandas program to sort the 'price' Series in descending order (returns
#### a Series) of diamonds Dataframe.
df['price'].sort_values(ascending = False)

In [ ]:
#### 14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat'
#### Series in ascending and descending order.
df = df.sort_values('cut')
df

In [ ]:
#### 15. Write a Pandas program to filter the DataFrame rows to only show carat
#### weight at least 0.3
df.loc[df['carat']>=0.3]

In [ ]:
#### 17. Write a Pandas program to find the details of the diamonds where length>5,
#### width>5 and depth>5
df[(df['table']>5) & (df['depth']>5)]

In [ ]:
#### 18. Write a Pandas program to find the diamonds that are either Premium or
#### Ideal
df[(df['cut'] == 'Premium') | (df['cut'] == 'Ideal')]

In [ ]:
#### 20. Write a Pandas program to display all column labels of diamonds DataFrame
df.columns

In [ ]:
#### 21. Write a Pandas program to read only a subset of 3 rows from diamonds
#### DataFrame
print(df.loc[0:3,:])

In [ ]:
#### 22. Write a Pandas program to iterate through diamonds DataFrame.
# for  i in range(10):
#     print(df.loc[i,:])

cnt =0
for row in df.itertuples():
    if cnt ==5:
        break
    cnt+=1
    print(row)

In [ ]:
#### 23. Write a Pandas program to drop all non-numeric columns from diamonds
#### DataFram
df = df.select_dtypes(include = ['float64','int64'])
df

In [ ]:
#### 24. Write a Pandas program to include only numeric columns in the diamonds
#### DataFrame
df = df.select_dtypes(include = ['float64','int64'])
df

In [ ]:
#### 25. Write a Pandas program to pass a list of data types to only describe certain
#### types of diamonds DataFrame.
df.select_dtypes(include = ['float64','int64']).describe()

In [ ]:
#### 26. Write a Pandas program to calculate the mean of each numeric column of
#### diamonds DataFrame
df.select_dtypes(include = ['float64','int64']).mean()

In [ ]:
#### 27. Write a Pandas program to calculate the mean of each row of diamonds
#### DataFrame
df.select_dtypes(include = ['number']).mean(axis =1)

In [ ]:
#### 28. Write a Pandas program to calculate the mean of price for each cut of
#### diamonds DataFrame.
df.groupby('cut')['price'].mean().round(2)

In [ ]:
#### 29. Write a Pandas program to calculate count, minimum, maximum price for
#### each cut of diamonds DataFrame
df.groupby('cut')['price'].agg(['mean','min','max','count']).round(2)

In [ ]:
#### 31. Write a Pandas program to count how many times each value in cut series of
#### diamonds DataFrame occurs.
df.groupby('cut')['cut'].count()

In [ ]:
#### 32. Write a Pandas program to display percentages of each value of cut series
#### occurs in diamonds DataFrame.
(df['cut'].value_counts(normalize =True)*100).round(2)

In [ ]:
#### 33. Write a Pandas program to display the unique values in cut series of
#### diamonds DataFrame
df['cut'].unique()

In [ ]:
#### 34. Write a Pandas program to count the number of unique values in cut series of
#### diamonds DataFrame
df['cut'].unique().count()

In [ ]:
#### 35. Write a Pandas program to compute a cross-tabulation of two Series in
#### diamonds DataFrame.
pd.crosstab(df['cut'],df['color'])

In [ ]:
#### 36. Write a Pandas program to calculate various summary statistics of cut series
#### of diamonds DataFrame.
df['cut'].describe()

In [ ]:
#### 38. Write a Pandas program to create a bar plot of the 'value_counts' for the 'cut'
#### series of diamonds DataFrame.
df['cut'].value_counts().plot.bar()

In [ ]:
#### 39. Write a Pandas program to create a DataFrame of booleans (True if missing,
#### False if not missing) from diamonds DataFrame.
df.isna()

In [ ]:
#### 40. Write a Pandas program to count the number of missing values in each
#### Series of diamonds DataFrame.
# df.isna().sum()
df.apply(lambda col: col.isna().sum())

In [ ]:
#### 41. Write a Pandas program to check the number of rows and columns and drop
#### those row if 'any' values are missing in a row of diamonds DataFrame.
df.isna().any().sum() #row
df.isna().any(axis =1).sum() #columns()
df.dropna()

In [ ]:
#### 42. Write a Pandas program to drop a row if any or all values in a row are
#### missing of diamonds DataFrame on two specific columns.
#df[['cut','color']].isna().any().drop()
df.dropna(subset = ['cut','color'],how ='any')
df.dropna(subset = ['cut','color'],how ='all')

In [ ]:
#### 43. Write a Pandas program to set an existing column as the index of diamonds
#### DataFrame.
df.index = df ['cut']

In [ ]:
df.index = range(len(df))

In [ ]:
df

In [ ]:
#### 44. Write a Pandas program to set an existing column as the index of diamonds
#### DataFrame and restore the index name, and move the index back to a column.
df = df.set_index('cut').rename_axis('cut_type')
# df = df.reset_index(range(len(df)))
print(df.index.name)
df

In [ ]:
#### 45. Write a Pandas program to access a specified Series index and the Series
#### values of diamonds DataFrame.
# df['cut_type'][0]
df.index[0]

In [ ]:
#### 46. Write a Pandas program to sort a Series by its values and index of diamonds
#### DataFrame.
sr = df['carat'].sort(by =['cut_type','price'])
#### 47. Write a Pandas program to calculate the multiply of length, width and depth
#### for each cut of diamonds DataFrame.
(df['carat'] * df['depth'] * df['table']).groupby(df['cut']).sum()

In [ ]:
#### 48. Write a Pandas program to concatenate the diamonds DataFrame with the
#### 'color' Series
df['color2']= 'R'

In [ ]:
#### 49. Write a Pandas program to read specified rows and all columns of diamonds
#### DataFrame
df.iloc[0,:]

In [ ]:
#### 50. Write a Pandas program to read rows 0, 5, 7 and all columns of diamonds
#### DataFrame.
df.loc[[0,5,7],:]

In [ ]:
#### 51. Write a Pandas program to read rows 2 through 5 and all columns of
#### diamonds DataFrame.
df.iloc[2:6,:]

In [ ]:
#### 52. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color'
#### and 'price' of diamonds DataFrame.
df.loc[0:2,['color','price']]

In [ ]:
#### 53. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color'
#### through 'price' (inclusive) of diamonds DataFrame.
df.loc[0:2,'color':'price']

In [ ]:
#### 54. Write a Pandas program to read rows in which the 'cut' is 'Premium', column
#### 'color' of diamonds DataFrame.
df[df['cut'] =='Premium'][['cut','color']]

In [ ]:
#### 55. Write a Pandas program to read rows in positions 0 and 1, columns in
#### positions 0 and 3 of diamonds DataFrame.
df.iloc[[0,1],[0,3]]

In [ ]:
#### 56. Write a Pandas program to read rows in positions 0 through 4, columns in
#### positions 1 through 4 of diamonds DataFrame.
df.iloc[0:5,1:5]

In [ ]:
#### 57. Write a Pandas program to read rows in positions 0 through 4 (exclusive) and
#### all columns of diamonds DataFrame
df.iloc[0:3,:]

In [ ]:
#### 58. Write a Pandas program to read rows 2 through 5 (inclusive), columns in
#### positions 0 through 2 (exclusive) of diamonds DataFrame.

In [ ]:
#### 59. Write a Pandas program to print a concise summary of diamonds
#### DataFrame
df.describe()

In [ ]:
#### 60. Write a Pandas program to get the true memory usage by diamonds
#### DataFrame.
df.info()

In [ ]:
#### 61. Write a Pandas program to calculate the memory usage for each Series (in
#### bytes) of diamonds DataFrame.
df.memory_usage(deep = True)

In [ ]:
#### 62. Write a Pandas program to get randomly sample rows from diamonds
#### DataFrame.
df.sample(n=5,  random_state = 42)

In [ ]:
#### 63. Write a Pandas program to get sample 75% of the diamonds DataFrame's
#### rows without replacement and store the remaining 25% of the rows in another
#### DataFrame.
samp_75 = df.sample(frac =0.75)
samp_25 = df.drop(samp_75.index)

In [ ]:
len(samp_75),len(samp_25)

In [ ]:
#### 64. Write a Pandas program to read the diamonds DataFrame and detect
#### duplicate color.
#### Note: duplicated () function returns boolean Series denoting duplicate rows,
#### optionally only considering certain columns.
def duplicated(df):
    duplicates = df.duplicated(subset = ['color'],keep = 'first')
    return df[duplicates][['color','cut']]

In [ ]:
duplicated(df)

In [ ]:
#### 65. Write a Pandas program to count the duplicate rows of diamonds DataFrame.
duplicates = df.duplicated(keep='first')
duplicates.sum()

In [ ]:
len(df)