In [71]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.metrics import log_loss

In [8]:
glass = pd.read_csv("C:/Python/Cases/Glass_Identification/Glass.csv")
y = glass['Type']
X = glass.drop('Type', axis=1)

# My Practice

In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler,MinMaxScaler, LabelEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

### EDA

In [34]:
data = pd.read_csv("D:/Datasets/ML/Cases/Glass_Identification/Glass.csv")
data

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0,building_windows_float_processed
1,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0,building_windows_float_processed
2,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0,building_windows_float_processed
3,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0,building_windows_float_processed
4,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0,building_windows_float_processed
...,...,...,...,...,...,...,...,...,...,...
209,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0,headlamps
210,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0,headlamps
211,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.0,headlamps
212,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.0,headlamps
213,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.0,headlamps

In [35]:
#data division
x= data.drop('Type',axis =1)
y = data['Type']

In [36]:
#find unique outputs
y.unique()

array(['building_windows_float_processed',
       'building_windows_non_float_processed',
       'vehicle_windows_float_processed', 'containers', 'tableware',
       'headlamps'], dtype=object)

In [37]:
#null values
y.isna().sum()
#if found remove them

np.int64(0)

In [38]:
#remove null values in features
x.isna().sum()

RI    0
Na    0
Mg    0
Al    0
Si    0
K     0
Ca    0
Ba    0
Fe    0
dtype: int64

In [60]:
#train test split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 25,stratify = y)

In [61]:
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)

In [62]:
#imputing
imputer = SimpleImputer(strategy = 'mean').set_output(transform = 'pandas')
imputer.fit_transform(x_train)
imputer.transform(x_test)

          RI     Na    Mg    Al     Si     K     Ca   Ba    Fe
50   1.52320  13.72  3.72  0.51  71.75  0.09  10.06  0.0  0.16
140  1.51690  13.33  3.54  1.61  72.54  0.68   8.11  0.0  0.00
139  1.51674  12.87  3.56  1.64  73.14  0.65   7.99  0.0  0.00
94   1.51629  12.71  3.33  1.49  73.28  0.67   8.24  0.0  0.00
73   1.51631  13.34  3.57  1.57  72.87  0.61   7.89  0.0  0.00
..       ...    ...   ...   ...    ...   ...    ...  ...   ...
192  1.51623  14.20  0.00  2.79  73.46  0.04   9.04  0.4  0.09
5    1.51596  12.79  3.61  1.62  72.97  0.64   8.07  0.0  0.26
56   1.51215  12.99  3.47  1.12  72.98  0.62   8.35  0.0  0.31
62   1.52172  13.51  3.86  0.88  71.79  0.23   9.54  0.0  0.11
129  1.52020  13.98  1.35  1.63  71.76  0.39  10.56  0.0  0.18

[65 rows x 9 columns]

In [63]:
type(x_train)

pandas.core.frame.DataFrame

In [64]:
#xencoding
ohe = OneHotEncoder(drop = 'first',sparse_output = False).set_output(transform = 'pandas')
encoder = make_column_transformer((ohe,make_column_selector(dtype_include = object)),remainder = 'passthrough').set_output(transform = 'pandas')
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [67]:
y_test

array([0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 3, 0, 1, 4, 3, 1, 3, 5, 0, 4, 0, 5,
       5, 0, 1, 1, 1, 5, 1, 0, 0, 3, 3, 1, 0, 5, 0, 2, 2, 1, 1, 0, 0, 0,
       3, 1, 1, 1, 1, 3, 1, 1, 0, 0, 2, 2, 3, 4, 1, 0, 3, 0, 0, 0, 1])

In [65]:
#yencoding
le = LabelEncoder()
y_train = le.fit_transform(y_train['Type'])
y_test = le.transform(y_test['Type'])
le.classes_

array(['building_windows_float_processed',
       'building_windows_non_float_processed', 'containers', 'headlamps',
       'tableware', 'vehicle_windows_float_processed'], dtype=object)

In [68]:
scaler = MinMaxScaler()
train_x = scaler.fit_transform(x_train)
test_x = scaler.transform(x_test)

In [69]:
train_y = y_train
test_y = y_test

In [74]:
nbrs = [i for i in range(5,10)]
weights = ['uniform','distance']
scores = []
for n in nbrs:
    for w in weights:
        model = KNeighborsClassifier(n_neighbors = n, weights = w)
        model.fit(train_x,train_y)
        pred = model.predict_proba(test_x)
        scores.append([n,w,log_loss(test_y,pred)])
scores = pd.DataFrame(scores,columns = ['n','w','loss']).sort_values(by  = 'loss',ascending = True)
scores

   n         w      loss
9  9  distance  1.213959
8  9   uniform  1.298911
7  8  distance  1.702649
6  8   uniform  1.778786
5  7  distance  2.184952
4  7   uniform  2.256590
1  5  distance  2.632378
3  6  distance  2.671673
0  5   uniform  2.691997
2  6   uniform  2.734267

# Sir Code

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [10]:
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
0   1  0.753846
1   2  0.753846
2   3  0.723077
3   4  0.723077
4   5  0.723077
5   6  0.723077
7   8  0.707692
6   7  0.692308
8   9  0.692308
9  10  0.676923

In [11]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
1   2  0.815385
0   1  0.800000
2   3  0.753846
3   4  0.738462
5   6  0.692308
6   7  0.692308
4   5  0.676923
7   8  0.661538
8   9  0.661538
9  10  0.646154

In [12]:
scaler = MinMaxScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
3   4  0.769231
0   1  0.753846
1   2  0.723077
5   6  0.707692
4   5  0.692308
2   3  0.676923
6   7  0.646154
7   8  0.646154
8   9  0.630769
9  10  0.600000

In [14]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_trn_scl, y_train)
y_pred = knn.predict(X_tst_scl)
print(classification_report( y_test, y_pred ))

                                      precision    recall  f1-score   support

    building_windows_float_processed       0.75      1.00      0.86        21
building_windows_non_float_processed       0.83      0.87      0.85        23
                          containers       1.00      1.00      1.00         4
                           headlamps       0.88      0.78      0.82         9
                           tableware       1.00      0.33      0.50         3
     vehicle_windows_float_processed       0.00      0.00      0.00         5

                            accuracy                           0.82        65
                           macro avg       0.74      0.66      0.67        65
                        weighted avg       0.77      0.82      0.78        65

c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

In [15]:
y_test.value_counts()

Type
building_windows_non_float_processed    23
building_windows_float_processed        21
headlamps                                9
vehicle_windows_float_processed          5
containers                               4
tableware                                3
Name: count, dtype: int64

#### Vehicle Silhouettes

In [16]:
vehicle = pd.read_csv("C:/Python/Cases/Vehicle_Silhouettes/Vehicle.csv")
y = vehicle['Class']
X = vehicle.drop('Class', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25,
                                                    stratify=y)

In [17]:
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
2   3  0.653543
6   7  0.653543
3   4  0.649606
0   1  0.641732
4   5  0.641732
7   8  0.641732
5   6  0.637795
9  10  0.637795
8   9  0.629921
1   2  0.622047

In [18]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
2   3  0.728346
3   4  0.716535
9  10  0.708661
6   7  0.700787
4   5  0.696850
7   8  0.696850
5   6  0.692913
8   9  0.688976
0   1  0.653543
1   2  0.645669

In [19]:
scaler = MinMaxScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
Ks = [1,2,3,4,5,6,7,8,9,10]
scores = []
for k in Ks:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([k, accuracy_score( y_test, y_pred )])
df_scores = pd.DataFrame( scores, columns=['k', 'score'] )
df_scores.sort_values('score', ascending=False)

    k     score
3   4  0.704724
5   6  0.700787
6   7  0.700787
4   5  0.696850
2   3  0.685039
9  10  0.685039
0   1  0.677165
7   8  0.677165
8   9  0.677165
1   2  0.661417

In [20]:
scaler = StandardScaler()
X_trn_scl = scaler.fit_transform(X_train)
X_tst_scl = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_trn_scl, y_train)
y_pred = knn.predict(X_tst_scl)
print( classification_report( y_test, y_pred ) )

              precision    recall  f1-score   support

         bus       0.90      0.97      0.93        65
        opel       0.55      0.52      0.53        64
        saab       0.60      0.58      0.59        65
         van       0.84      0.85      0.84        60

    accuracy                           0.73       254
   macro avg       0.72      0.73      0.73       254
weighted avg       0.72      0.73      0.72       254

In [22]:
solver = 'saga'
penalties = ['l2','l1','elasticnet',None]
scores = []
for p in penalties:
    lr = LogisticRegression(solver=solver, penalty=p, l1_ratio=0.5)
    lr.fit(X_train, y_train)
    y_pred = lr.predict(X_test)
    scores.append([p, accuracy_score(y_test, y_pred)])
df_scores = pd.DataFrame( scores, columns=['penalty','score'] )
df_scores.sort_values('score', ascending=False)

c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:1221: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l2)
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:1221: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l1)
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:1221: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=None)
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

      penalty     score
2  elasticnet  0.685039
3        None  0.685039
0          l2  0.681102
1          l1  0.681102

In [23]:
solver = ['sag','newton-cg','newton-cholesky','lbfgs']
penalties = ['l2',None]
scores = []
for p in penalties:
    for s in solver:
        lr = LogisticRegression(solver=s, penalty=p)
        lr.fit(X_train, y_train)
        y_pred = lr.predict(X_test)
        scores.append([p,s, accuracy_score(y_test, y_pred)])
df_scores = pd.DataFrame( scores, columns=['penalty','solver','score'] )
df_scores.sort_values('score', ascending=False)

c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
c:\Python\anaconda3\envs\hf\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

  penalty           solver     score
1      l2        newton-cg  0.846457
2      l2  newton-cholesky  0.846457
5    None        newton-cg  0.842520
6    None  newton-cholesky  0.842520
3      l2            lbfgs  0.740157
0      l2              sag  0.724409
4    None              sag  0.724409
7    None            lbfgs  0.724409

In [25]:
lr = LogisticRegression(solver='newton-cg', penalty='l2')
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print( classification_report(y_test, y_pred) )

              precision    recall  f1-score   support

         bus       0.94      0.97      0.95        65
        opel       0.78      0.66      0.71        64
        saab       0.72      0.80      0.76        65
         van       0.95      0.97      0.96        60

    accuracy                           0.85       254
   macro avg       0.85      0.85      0.85       254
weighted avg       0.85      0.85      0.84       254